[2020-03-07 01:07] lizthegrey opened #5 "wrong go.mod location"
https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/master/exporter/trace/go.mod should be at https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/master/go.mod instead

[2020-03-07 01:07] lizthegrey opened #6 "cut release v0.2.3 to match otel-go"

[2020-03-09 07:04] rghetia opened #7 "Stackdriver exporter event attributes aren't displayed."
Originally opened at https://github.com/open-telemetry/opentelemetry-go/issues/460 by @shanna

Span events with string or bool attributes don't show in the stackdriver UI. I'm not 100% this is an open-telemetry stackdriver exporter issue or a stackdriver tracing issue. I don't have a standalone test case for you but it's easy to reproduce:

go.opentelemetry.io/otel v0.2.1
go.opentelemetry.io/otel/

[2020-03-20 20:38] rghetia opened #9 "Add cloud monitoring exporter for open-telemetry metrics"
equivalent of [stackdriver exporter for opencensus](https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver) metrics.

[2020-03-20 20:39] rghetia commented on #9
@ymotongpoo , do you think you could have it ready by the end of next week?

[2020-03-23 07:19] ymotongpoo commented on #9
I try it but my guts feeling says it is hard.

[2020-03-23 12:49] ymotongpoo opened #10 "Add trace exporter example"
Add trace exporter from opentelemetry-go

[2020-03-23 23:29] #5 closed

[2020-03-24 00:52] #10 closed

[2020-04-07 01:48] nilebox opened #16 "Replace OpenTelemetry with Google Inc as the code owner"
The License boilerplate currently states that OpenTelemetry owns the code: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/aa81cfc9a8ab236ea98681fc7db8b3e01e6cffd6/example/trace/http/client/client.go#L1

It should probably say that the code is owned by Google, e.g. [see example](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/14a8927089a63dd59e45b52622c54ce740

[2020-04-16 19:05] mujtaba-ahmed12 commented on #9
@ymotongpoo any update on this issue?

[2020-04-17 00:44] ymotongpoo commented on #9
Yes, I'm working on it. It's taking time longer than expected due to COVID-19.

[2020-04-23 15:09] mujtaba-ahmed12 commented on #9
I have bandwidth over weekends. If you allow, I can help you in this.

[2020-04-23 15:46] ymotongpoo commented on #9
@mujtaba-ahmed12 Thank you for the offer. I'm working on the port in collaboration with @rghetia now and it's getting closer, so I appreciate your patience for a bit more. Thank you!

[2020-05-05 17:01] #6 closed

[2020-05-05 17:02] lizthegrey opened #17 "update to v0.4.3 compat"
[code]

[2020-05-05 19:03] lizthegrey commented on #16
You can't change this retroactively; this code contains contributions from OpenTelemetry authors who licensed this code under the OTel CLA and have not assigned copyright to Google.

[2020-05-05 21:50] nilebox commented on #16
@lizthegrey what about the new contributions to the same files in this repo? Wouldn't the situation be opposite in that case?

If you can share the right way to handle this, that would be great.

[2020-05-05 21:52] lizthegrey commented on #16
Correct, unless you use the OpenTelemetry CLA bot, new contributions won't be covered under _any_ CLA

so you'll need a combination of the older OTel CLA and the Google CLA bot/disclaimer.

[2020-05-06 22:09] nilebox commented on #16
Discussed internally - we should keep OpenTelemetry header on existing files, and use Google header for new files.

[2020-05-06 22:09] #16 closed

[2020-05-07 18:30] rghetia opened #19 "Add workers to export spans in parallel."
Problem: Currently it exports all spans using a single go subroutine. In a high QPS environment you can increase the batch size but eventually it will result into rpc timeout.

Solution:
- Create multiple workers (go subroutines) and let each worker take spans from the queue to send it to the backend. See https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/pull/246 and https://g

[2020-05-07 18:37] rghetia opened #20 "Resource Support for trace exporter."
Convert Otel Resources to span attributes. Similar to [jaeger exporter](https://github.com/open-telemetry/opentelemetry-go/blob/485cbd4e6a4a1ad6f396674e1b36c080cea522e7/exporters/trace/jaeger/jaeger.go#L211-L217) converts to tags.

[2020-05-11 22:20] rghetia opened #21 "Add Readme.md for trace exporter."
Readme should contain
- steps to install
- Usage Example,
- Link to full Example.

[2020-05-11 22:21] rghetia opened #22 "Add Readme.md for monitoring exporter"
Readme should contain.
 - steps to install
- Usage Example,
- Link to full Example.

[2020-05-11 22:27] rghetia opened #23 "Add Readme.md for examples"
Create single readme or one for each example in example directory.
Readme should contain
- Brief description about the example.
- how to run
- Expected output.

[2020-05-12 09:32] charleskorn commented on #17
This is fixed with #18.

[2020-05-14 21:08] #17 closed

[2020-05-15 11:31] ymotongpoo opened #25 "Handling timestamp appropriately based on MetricKind"
In current spec and implementation of opentelemetry-go, it doesn't return timestamps in aggregated data. (ref. https://pkg.go.dev/go.opentelemetry.io/otel@v0.5.0/sdk/export/metric/aggregator)

But, for Cloud Monitoring, timestamps (`TimeInterval`) are required for [`Point`](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/TimeSeries#Point)

In the current implementation (#24), I leave this w

[2020-05-16 06:55] ymotongpoo commented on #9
The basic feature is merged in #24

[2020-05-16 10:44] ymotongpoo opened #26 "Send CreateMetricDescriptorRequest asynchronously"
Currently [the process to call CreateMetricDescriptor is synchronous](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/bc5120a296ef9d742af67432b5b0b6f57857059f/exporter/metric/metric.go#L170-L184) and should block if the number of MetricDescriptors is large. (Note: calling CreateMetricDescriptor to existing MD is allowed, so not checking existing MD in Cloud Monitoring itsel

[2020-05-19 06:30] ymotongpoo opened #29 "Configure MonitoringResource for TimeSeries"
Currently the second argument of [`Exporter.Export()`](https://pkg.go.dev/go.opentelemetry.io/otel/sdk/export/metric@v0.5.0?tab=doc#Exporter) is meant for the common resource among all records stored via a meter, and the resource is the counterpart of MonitoredResource in TimeSeries.

In OpenCensus, [the interface for MonitoredResource is defined apart from the protobuf and controlled separately](

[2020-05-19 06:36] ymotongpoo opened #30 "Add support for concurrent processes in metric exporter"
Current implementation of metric exporter doesn't consider the concurrent processes well and it is not as efficient as expected and may cause data race. The parts to check concurrency safety are:

* MetricDescriptor caching
* Batch conversion from Record to TimeSeries

[2020-05-19 07:07] ymotongpoo opened #31 "Support MeasureKind"
Currently the metric exporter doesn't support MeasureKind (Distribution, Histgram, et al.) at all, which is the counterpart of DISTRIBUTION.

[2020-05-19 14:08] ymotongpoo commented on #26
Note: If a record has metadata of MontoringResource A, and there are records with A in the `cps.ForEach()` loop, we need to make sure that MR A is registered before any of TimeSeries with A is submitted.

[2020-05-22 02:31] ymotongpoo opened #33 "Update to v0.6.0 compat"
Update metric and trace exporter to opentelemetry-go v0.6.0 compat

- [x] Metric
- [ ] Trace

[2020-05-31 05:41] kanekv opened #35 "install is broken"
[code]

[2020-05-31 06:06] kanekv commented on #35
Apparently it's fixed in master branch, but not published.

[2020-06-01 01:10] nilebox commented on #35
@kanekv I have released [v0.2.0](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/releases/tag/v0.2.0), please let me know if that resolved your issue:

[2020-06-01 17:17] kanekv commented on #35
This works, thanks!

[2020-06-01 17:17] #35 closed

[2020-06-01 17:21] kanekv opened #37 "metric - counter example doesn't work properly"
I have tried simple Counter example, it doesn't show up properly in metrics dashboard.
Both rate/delta aligners show constantly growing counter instead of rate.
I had a simple loop, incrementing counter every 100ms and it supposed to show rate of 10requests/sec, instead it seems to show something constantly growing (not a raw value though as well).

[2020-06-02 02:39] nilebox commented on #37
@ymotongpoo have you tested this with metrics dashboard?

[2020-06-02 03:31] ymotongpoo commented on #37
@nilebox I checked that the exporter sends some data to the dashboard but it may have some problems on MetricType checking part. It requires some investigations.

[2020-06-04 00:26] kanekv commented on #37
@ymotongpoo did you have a chance to test it? I can help with repro if needed.

[2020-06-04 00:42] ymotongpoo commented on #37
@kanekv if you have the code to reproduce the situation, it's really helpful.

[2020-06-05 13:49] rosstimothy opened #38 "Update exporter/trace version to 0.2.0"
Can you create a 0.2.0 tag for exporter/trace as well?

[2020-06-08 19:57] EronWright commented on #38
Quick workaround: fork this library, checkout the `v0.2.0` release, and add the missing tag.
[code]

Then use your fork in your application's `go.mod`:
[code]

[2020-06-09 01:09] ymotongpoo commented on #38
@nilebox @rghetia should we consider putting tags independently for trace and metric?

[2020-06-09 02:16] nilebox commented on #38
I'd rather use the shared version for both traces and metrics, it's easier to follow.

[2020-06-09 02:24] nilebox commented on #38
I have published tags for all modules:
- exporter/trace/v0.2.0
- exporter/metric/v0.2.0
- example/trace/http/v0.2.0
- example/metric/v0.2.0

We should probably write a script to automate this.

[2020-06-09 02:24] #38 closed

[2020-06-09 11:41] ymotongpoo commented on #9
Close this issue as it was merged

[2020-06-09 11:41] #9 closed

[2020-06-09 16:48] rghetia commented on #38
There are scripts in otel-go that can be copied.

1. [pre_release.sh](https://github.com/open-telemetry/opentelemetry-go/blob/master/pre_release.sh)
2. [tag.sh](https://github.com/open-telemetry/opentelemetry-go/blob/master/tag.sh)
3. [verify_example.sh](https://github.com/open-telemetry/opentelemetry-go/blob/master/verify_examples.sh)

[2020-06-11 00:12] #25 closed

[2020-06-11 00:12] #37 closed

[2020-06-11 06:58] ymotongpoo opened #42 "Add script to create example dashboard in Cloud Monitoring"
In order for developers to confirm easily whether the example is working as expected, add a script to create a Cloud Monitoring dashboard.

[2020-06-12 17:24] EronWright opened #45 "Be less prescriptive about span names"
I observe that the exporter has an opinion about span names, and I feel that it shouldn't.

Note that `exporter/trace/trace_proto.go` computes the span display name, which makes it impossible to use short, application-specific span names as enjoyed by other Cloud Tracing applications (e.g. a method name).

Suggestion for improvement:
1. introduce a formatter in the exporter options to generate the

[2020-06-15 09:27] #21 closed

[2020-06-15 09:27] #22 closed

[2020-06-15 09:28] #42 closed

[2020-06-15 23:59] james-bebbington commented on #33
@ymotongpoo looks like both exporters are updated - can this one be closed now?

[2020-06-16 00:30] ymotongpoo commented on #33
@james-bebbington yes it does and we can close this issue now.

[2020-06-16 12:10] #33 closed

[2020-06-17 08:44] filip-ph-johansson opened #47 "Latency issues of HTTP requests with Stackdriver tracing v0.2.0 and otel v0.6.0"
When running Stackdriver as an exporter for opentelemetry I'm seeing some latecy issues in HTTP requests.
In the example I'm running GET on [https://google.com](https://google.com) which normally takes 50-100ms. With Stackdriver exporter enabled the request averages between 5000-7000ms.

This is the code I'm running:
[code]

My go.mod file:
[code]

Trace overview:
![image](https://user-images.gith

[2020-06-17 23:50] nilebox commented on #47
@filip-ph-johansson could you please try making multiple requests, to see if there is some issue with the initial connection / handshake?

[2020-06-18 08:37] filip-ph-johansson commented on #47
@nilebox I get the same behaviour for multiple requests.

[2020-06-18 10:20] ymotongpoo commented on #31
Closing this because MeasureKind is obsolete and all MetricsKind are supported now.

[2020-06-18 10:20] #31 closed

[2020-06-18 14:56] stevencl1013 commented on #47
@filip-ph-johansson I think that this is happening because the current implementation of the exporter exports spans using the same thread as the application. After [this PR](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/39), spans will be uploaded asynchronously, and I expect that the latency will go back to normal.

Once these changes are made, you may need to update you

[2020-06-18 21:24] james-bebbington commented on #47
👍

Maybe we should consider adding a flush method similar to https://github.com/open-telemetry/opentelemetry-go/blob/1301b6f3e4b5a8c903e86dbc030e0527d01f807f/example/jaeger/main.go

[2020-06-19 00:20] ymotongpoo commented on #23
README.md for the exporter example was added. Need one for Trace exporter.

[2020-06-21 18:35] thecodejunkie commented on #47
@stevencl1013 great! Any rough guestimete when that will hit master? We would love that to happen 😄

@james-bebbington It would be great if all exporters have a unified signature to make them interchangeable. We sometimes use the Jaeger exporter and would like to add Stackdriver into the mix, so we've had to create our own abstraction layer so they're both expose the same signature to our services

[2020-06-25 21:28] kintel opened #54 "Update format of g.co/agent label in spans"
Change agent label to follow the [GCP exporter spec](https://docs.google.com/document/d/1eeGeSYlE2F-Dc-5_yLXnIlj7e--BYFeWlzWy6qBV2cg/edit?ts=5ef1fde7#heading=h.8ta8507cza65):

Example of correct version:
[code]

[2020-06-30 18:20] stevencl1013 commented on #45
This should be resolved now, you can see this [test](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/commit/a1393affee9a13ed21974ae1d791da1b3189f4a0#diff-30183b1f2afef55ac0a5fff5bf0b340dR133) for an example of how to write and use your own formatter.

[2020-06-30 18:27] stevencl1013 commented on #47
@thecodejunkie it's merged now!

I'm currently working on a pipeline method to create the exporter and provider and return a flush similar to the Jaeger exporter.

[2020-07-03 02:00] james-bebbington opened #59 "Report test coverage results"

[2020-07-03 06:43] williambrode commented on #47
We were seeing this issue and I just updated from v.0.2.0 to latest and we no longer have the span sending slowing down our app.  Before the update there were noticeable gaps between two spans where no code in our application was running.  Turns out it was the span sending synchronously.  Thanks for the fix!

[2020-07-21 08:00] radev opened #69 "Update exporter/trace version to 0.2.1"
Tag for exporter/trace/v0.2.1 is missing:

`GOPROXY=direct go get github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/trace@v0.2.1` results in `invalid version: unknown revision exporter/trace/v0.2.1`

[2020-07-21 08:01] radev commented on #69
Related to #38

[2020-07-22 04:28] nilebox commented on #69
@james-bebbington could you please create additional tags?

FWIW the process of tagging all Go Modules is now automated in the collector contrib repo: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/10f7771ece0d71d747ad9a936c11a348d66471d6/Makefile#L65-L73

We may want to adopt their code to automate our release process.

[2020-07-22 04:33] nilebox opened #70 "Automate the release process for Go modules"
The current manual process is error prone: we need to create additional tags for Go module subdirectories but often forget about that (see #38, #69).

See https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/38#issuecomment-641433905 with links to existing `opentelemetry-go` scripts which we can reuse to address this.

[2020-07-22 10:56] james-bebbington commented on #69
Sorry - have added tags now 🤦

Will look into https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/70 when doing the next release

[2020-07-22 10:56] #69 closed

[2020-07-23 16:52] gzhao408 opened #71 "Import Issues - sdk/export/metric/aggregation"
I'm trying to use the metrics exporter, but getting an import error:
[code]

Not 100% sure what the issue is, but at quick glance it seems like it's trying to import [aggregator](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/4866baabe07e06199c33b0a3ca8aca46bb9441d7/exporter/metric/metric.go#L27) package but it should be [aggregation](https://github.com/open-telemetry/open

[2020-07-23 16:55] #71 closed

[2020-08-01 18:56] xmlking opened #77 "otel v0.10.0 support"
I am having issues with otel version.
can you please update to go.opentelemetry.io/otel v0.10.0

I tried with go.mod replace
[code]
but getting error

[code]

[2020-08-03 16:09] lizthegrey commented on #77
You also need to change `value.Foo()` to `kv.FooValue()` and don't import `kv/value` package that no longer exists.

[2020-08-03 16:55] lizthegrey commented on #77
see https://github.com/honeycombio/opentelemetry-exporter-go/pull/87/files#diff-d0b41ce27a88593a3c3494d81b49424b for example

[2020-08-04 00:02] james-bebbington opened #78 "Update CheckpointSet iteration to use the exporter as KindSelector"
Update CheckpointSet iteration to use the exporter as KindSelector instead of explicitly passing CUMULATIVE. See this comment thread for more details: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/73#discussion_r461247340. Also note this is somewhat dependent on future changes to the SDK.

In addition to this, we should add integration tests to validate DELTAs are exporte

[2020-08-04 01:18] xmlking commented on #77
Following packages are gown in [metric_test.go](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/master/exporter/metric/metric_test.go)
[code]
when if you know how to replace this code

[2020-08-04 01:45] xmlking commented on #77
updated this fork: https://github.com/xmlking/opentelemetry-operations-go/tree/bump-otel-090

testing it here
https://github.com/xmlking/grpc-starter-kit/blob/develop/service/play/main.go

[2020-08-04 04:24] james-bebbington opened #81 "Add checklicense to Makefile & CI"
We should add a checklicense target to validate licenses are appended to source files going forward. We can do something similar to Otel Go - see: https://github.com/open-telemetry/opentelemetry-go/blob/master/Makefile#L145

Note however that some code in this repo was authored by contributors who signed the OpenTelemetry CLA so we need to retain this different license info for some existing files

[2020-08-04 04:28] james-bebbington opened #82 "Use the Version number to insert g.co/agent/component attribute"
Use the version number in trace/version.go, which is automatically updated by the release scripts, to set the `g.co/agent/component` attribute for traces to the value `opentelemetry-go <ot_version>; google-cloud-<trace|metric>-exporter <exporter_version>`

Use the version number in metric/version.go, which is automatically updated by the release scripts, to set the user agent string supplied to Cl

[2020-08-04 04:45] nilebox commented on #81
See https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/16#issuecomment-624917221, this is not a mistake.

Can we make `licensecheck` not complain about different licenses in the repo?

[2020-08-04 09:06] james-bebbington commented on #81
Thanks for the link & info. I have updated this issue description with that info so as not to confuse anyone. The license check has to be run per file so we could do a different check for a hard coded list of files that have the OpenTelemetry license (that won't change).

[2020-08-09 19:19] xmlking commented on #77
Maintainers, can you please add support for otel v0.10.0
this helps be to  writer  more generic initialization
[code]

[code]

[2020-08-10 00:21] #77 closed

[2020-08-11 22:20] EronWright commented on #45
Thanks @stevencl1013 it looks great!

[2020-08-11 22:20] #45 closed

[2020-08-25 07:44] #70 closed

[2020-08-25 07:45] #47 closed

[2020-08-25 07:46] #54 closed

[2020-08-25 07:52] #19 closed

[2020-08-25 07:53] #20 closed

[2020-08-25 07:55] james-bebbington commented on #26
I think you meant MetricDescriptor rather than MonitoringResource here?

---

To make sure I understood this correctly, you're saying that instead of:
[code]

We want:
[code]

If that's correct, do we want to (or already) do anything similar for parallelising creating timeseries?

[2020-08-25 07:56] james-bebbington commented on #23
We should include documentation for how to use multiple providers, see https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/76#issuecomment-667746838

[2020-08-25 07:58] james-bebbington opened #88 "Map OpenTelemetry resources to Cloud Monitoring resources when injecting resource data into spans"
See full description here: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/84/files

[2020-08-26 09:27] liiling opened #89 "unable to use OpenTelemetry asynchronous metric instruments"
Hi! I'm trying to create a demo using OpenTelemetry with GCP monitoring backend.

When instrumenting with OpenTelemetry's async metric instuments, only ValueObserver seems to work, while SumObserver and UpDownSumObserver both give me the following error:

Is there any plan on fixing this? I'd be happy to contribute.

[2020-08-27 02:56] ymotongpoo commented on #26
@james-bebbington yes, you are right. I meant "MetricDescriptor that corresponds to MetricResource A should be registered in advance." And your pseudo snippet is exactly what I meant.

I wasn't sure how often we need such a process because we usually have MD initialization when we have such metrics for the first time, and I do not have the evidence to reinforce the need of this feature request.

[2020-08-27 07:56] nilebox commented on #89
Hi, this does look like a bug, though I don't have enough context.

If you can submit a PR fixing this issue, I can help with getting it reviewed and merged.
Otherwise, could you please share a code example reproducing this issue?

[2020-09-09 21:54] DazWilkin opened #94 "Challenged by 'hello world'"
I'm unable to get the Cloud Monitoring exporter working:

https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/master/exporter/metric/README.md

There are appear to be a couple of issues in addition to my likely incompetence; I'm reasonable familiar with Cloud Monitoring and OpenCensus and this is my first dib into OpenTelemetry. Code at end based upon the README example. The co

[2020-09-09 22:02] DazWilkin opened #95 "Cloud Monitoring metrics example in README doesn't work"
The sample as-is appears to not work:
https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/master/exporter/metric/README.md

+ See #94
+ There is no (longer) a `kv` package (now `label`?)
+ `meter := pusher.Provider().Meter("...")` vs. `global.Meter("...")` as used by other [examples](https://github.com/open-telemetry/opentelemetry-go/tree/master/example)

Recommend: ensuring th

[2020-09-10 01:27] nilebox commented on #95
Thanks for reporting the issue @DazWilkin
Feel free to send a PR fixing it if you have time for that.

We do have a full code example actually: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/tree/master/example/metric
Does it work for you?

[2020-09-10 01:29] DazWilkin commented on #95
Thanks @nilebox I'll try that tomorrow

[2020-09-10 01:37] nilebox commented on #94
This error is returned in this block I believe: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/71af267c4659cd8b4f71bcf2238fe6da203bd60c/exporter/metric/metric.go#L505-L508

and it will be fixed once #92 is merged AFAICT.
The issue is that we are trying to cast to `sum.Aggregator`, but should be using `array.Aggregator` instead.

/cc @james-bebbington

[2020-09-10 09:30] #89 closed

[2020-09-10 16:11] DazWilkin commented on #95
@nilebox thanks for the prompt response.

Your example works partially for me.

Cloud Monitoring receives the observer's values but not the counter's.

[code]
I've been using metric explorer but double-checked using your dashboard script:

![image](https://user-images.githubusercontent.com/1022400/92759452-9ae13e80-f344-11ea-9fb3-4874e16a70d6.png)

In my mash-up example, I'm also unable to view co

[2020-09-10 21:33] DazWilkin commented on #95
Hmmm... I cloned the repo (rather than just `go run`'ing it and example does not publish both the counter and observer values.

What I don't understand is that I'm not providing a Google Project ID to the example yet it works.

If I try running my code without e.g. `cloudmonitoring.WithProject(os.Getenv("PROJECT"))` where I set the Project ID, it (correctly) errors:

[code]

Somehow the example ma

[2020-09-10 22:24] DazWilkin commented on #95
Using the latest commit rather than `v0.11.0`:

[code]

I received a more appropriate error message that the label `ex.com/lemons` is invalid:

[code]

After revising that, my code now correctly delivers counter measurements to Cloud Monitoring:

![image](https://user-images.githubusercontent.com/1022400/92815880-84a1a580-f379-11ea-9d92-e35af1cbc764.png)

[2020-09-10 22:45] DazWilkin commented on #95
Revised (but possibly still imperfect) README example: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/96

[2020-09-10 23:21] nilebox commented on #95
If you don't provide project ID, the exporter will try to auto-discover it: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/71af267c4659cd8b4f71bcf2238fe6da203bd60c/exporter/metric/cloudmonitoring.go#L60

If you're running in a GCP environment, you don't need to explicitly set the project ID.

[2020-09-17 06:30] shouichi opened #98 "Writing timeseries fails due to invalid argument error"
We tried to instrument http handlers using `go.opentelemetry.io/contrib/instrumentation/net/http` and got the following error.

[code]

The version we use is 7f2025af52931b2969faf09e998dd0731e8c9266.

[2020-09-18 00:01] nilebox commented on #98
Looks like we need to rename the label keys, e.g. replace `.` with `_` in the exporter, since these format limitations are specific to Cloud Monitoring APIs.

[2020-09-18 00:04] nilebox commented on #98
As far as I understand, the renaming can be done in https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/7f2025af52931b2969faf09e998dd0731e8c9266/exporter/metric/metric.go#L462

@shouichi would you be interested in sending a PR making this change? If you do so, please also make sure to add a unit test illustrating the issue.

[2020-09-18 00:08] shouichi commented on #98
Sure, I'll take a look 👍

[2020-09-18 04:01] #98 closed

[2020-09-21 00:00] nilebox opened #100 "Check if we need to make changes to support ForceFlush in batch processor"
See recent change https://github.com/open-telemetry/opentelemetry-go/pull/1166 (issue: https://github.com/open-telemetry/opentelemetry-go/issues/1072)

[2020-10-01 23:57] mrothroc opened #102 "Update to otel v0.12"
I'm trying to install both this and
go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc
to trace gRPC calls in google cloud.  Unfortunately, this module is based on otel v0.11 and that module requires v0.12.

I can get this module to work if I add this to my mod.go:
replace (
	go.opentelemetry.io/otel v0.12.0 => go.opentelemetry.io/otel v0.11.0
)

That breaks the other modu

[2020-10-01 23:59] mrothroc commented on #102
Oh, I see this is addressed by [https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/101](url).  Never mind, I will watch that.

[2020-10-01 23:59] #102 closed

[2020-10-19 20:43] IsaacPD opened #107 "Frequent Internal Errors when exporting metrics with different labels at runtime"
Frequently when attempting to collect metrics I encounter this error

and then in metric explorer the metrics are temporarily unavailable until the next time I run my program and don't see this error.

I believe this issue is similar to https://github.com/googleapis/python-monitoring/issues/7 as the issue seems to be related to whenever I try to write time series that have different labels one run

[2020-10-19 22:05] dashpole commented on #107
/assign

[2020-10-21 23:35] dashpole commented on #107
I looked into this for a while, and came to a similar conclusion.  It looks like the correct way to use the API is to only call `CreateTimeSeries`, without calling `CreateMetricDescriptor` beforehand.

The python folks you link opted to call `GetMetricDescriptor` first before calling `CreateMetricDescriptor`.  A call to CreateMetricDescriptor is necessary if we want to set some fields in the metri

[2020-10-22 00:02] dashpole commented on #107
The "start time must be equal to the end time" error seems to have been seen before in https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/24#issuecomment-629312019

[2020-10-22 23:19] #107 closed

[2020-10-26 22:18] dashpole opened #109 "Make span naming more consistent with other languages"
Default span naming in the go exporter is `Span.<kind>.<name>`.  According to @aabmass, it is just `<name>` for python and for javascript.  Since the opentelemetry collector is written in golang, this means a python application's span naming will change if it sends to a collector vs if it sends directly to stackdriver.

[2020-10-27 01:01] bshi opened #110 "Implement propagators"
Presently, trace context via HTTP header `X-Cloud-Trace-Context` (or the equivalent gRPC header) doesn't appear to be extracted from inbound requests.

OpenCensus equivalent: https://pkg.go.dev/go.opencensus.io/exporter/stackdriver/propagation

https://pkg.go.dev/go.opentelemetry.io/otel/propagators

[2020-10-29 01:37] james-bebbington opened #112 "Add tests that the user agent string is set correctly for traces & metrics"
See comment: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/105#pullrequestreview-502680035

[2020-11-10 21:26] ptone opened #114 "support full range of monitored resource types for GCP"
subdivideGCPTypes only resolves kubernetes and GCE resource types.

https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/46340c408611dd26fa415ebf02f89e2508353f74/exporter/metric/metric.go#L332

This makes this library not usable from other environments such as GAE, or with a generic_task resource with additional lables.

Since the otel resource model doesn't have a special type

[2020-11-10 21:46] nilebox commented on #114
They way resource types are currently inferred is via [semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/resource/semantic_conventions), based on the set of present resource attributes/labels

GAE would probably fit into FaaS category in that case: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/res

[2020-11-10 23:49] ptone commented on #114
This seems to be a two-phased mapping. One is from a bag of attributes, to a semantic model from the links you suggest. But then there is another mapping from the list of resource labels/attributes to a GCP specific monitored resource.  The match of attributes is not exact between expected GCP labels, and the otel semantic models.

The list of GCP resources likely can't map in a simple way to the

[2020-11-11 22:34] nilebox commented on #114
The problem here is that if you add a GCP-specific`__resource_type` field (or similar), you would have to support injecting it in all client SDKs, regardless of which exporter is being used. Or, you'll have to manually inject this attribute in the application code rather than by some auto-detection mechanism.

In other words, resource attributes are normally produced at the "source", whereas expor

[2020-11-12 17:34] ptone commented on #114
I agree with the suggestion of __resource_type being a poor ultimate solution, and a hack. I'm looking for some stop-gap workaround for now given the current implementation is private API, so that this library can be used for resource-types, at least generic_task.  The "global" resource task does not allow sufficient labels to support proper sharding of time-series writes to stay under service quo

[2020-11-13 20:44] IsaacPD opened #115 "Failed to create pipeline due to credentials despite passing option.WithCredentialsJSON option"
I tried installing a pipeline like this to export my metrics
[code]

However it failed because it could not find any credentials in the typical locations as described [here](https://pkg.go.dev/golang.org/x/oauth2/google#FindDefaultCredentials). However, I would expect this to work as well and when I made some modifications to the code to not check using FindDefaultCredentials, I was able to export

[2020-11-14 05:16] ptone opened #116 "Need SpanContextFromRequest"
Need an analog of [this](https://github.com/census-instrumentation/opencensus-go/blob/master/exporter/stackdriver/propagation/http.go#L43) convenience function for the GCP specific header `X-Cloud-Trace-Context`

[2020-11-17 00:16] yegle commented on #20
This issue is still referenced in `example/metric/example.go` though.

[2020-11-17 00:20] yegle opened #117 "metric: generic_task is not supported."
It looks like only "global" monitored resource is supported right now.

In the OpenCensus metric exporter, one can specify "generic_task" metric type.

[2020-11-18 21:47] IsaacPD commented on #115
My mistake this is actually not an issue, so long as the option mexporter.WithProjectID(projectID) is available it should work just fine. I forgot to rebuild my project when I included/copied over that option into the description so I didn't realize that it was not an issue.

[2020-11-18 21:47] #115 closed

[2020-11-19 22:14] ptone commented on #114
This also seems to overlap with https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/detectors/gcp see https://github.com/open-telemetry/opentelemetry-go-contrib/pull/455

[2020-11-19 22:18] yegle commented on #117
Looks like this is overlapping with #114

[2020-12-01 11:09] AchoArnold opened #121 "View Span events on the google cloud trace UI"
Hello,

Is it possible to see span events on the google cloud trace UI? I have a span and I add events on it but I can't find this on cloud trace, Is it that cloud trace doesn't support viewing spans with events, or am I doing something wrong?

[2020-12-03 08:00] AchoArnold commented on #121
I figured it out. For anyone looking at this in the future what I had to do is click the **"Show Events"** checkbox.  on the google cloud trace UI
![Screenshot 2020-12-03 085854](https://user-images.githubusercontent.com/4196457/100980705-ecfdbe80-3545-11eb-96d3-912e8150e283.png)

[2020-12-03 08:00] #121 closed

[2020-12-09 12:29] glassonion1 commented on #110
I thought i needed too.
However, I thought that it should be implemented in open [telemetry-go-contrib](https://github.com/open-telemetry/opentelemetry-go-contrib) instead of exporter.

I tried implementing http propagator in my library below.
https://github.com/glassonion1/logz/blob/main/internal/propagation/http_format.go

[2020-12-10 18:24] yegle commented on #117
#118 should address this issue without waiting for #114 to sort out.

[2020-12-10 21:46] #117 closed

[2020-12-18 18:01] ptone commented on #114
FWIW - my immediate case in unblocked by https://github.com/open-telemetry/opentelemetry-go-contrib/pull/455

However this is no less a semantic solution than what I was proposing, it simply hardcodes a 'namespace' hint as the resource type, in fact mapping one GCP resource type (cloud_run_revision) to a monitoring catchall of generic_task.  cloud_run_revision is a platform managed type that does

[2020-12-18 18:04] ptone opened #122 "broken imports for restructured v0.15.0 otel API packages"
https://github.com/open-telemetry/opentelemetry-go/issues/1303

Seems to have broken a bunch of imports

[code]

For reasons (of my fault/ignorance) I can't seem to get pinned .14 v to work in my go.mod file

[2020-12-18 18:14] ptone commented on #122
I suppose this is just a matter of cutting a versioned release for go to find, using

go get github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/metric@d8551be9a708acfb92cccad81e488e9a96434a9a

for latest commit fixed this for me

[2020-12-20 21:59] nilebox commented on #114
@ptone how does that resource with `namespace = "cloud_run_revision"` get exported to Cloud Monitoring?
Shouldn't there be a code in this repo's metric exporter recognizing this special namespace?

Also, if this convention is not implemented across Go, Java, Python and JS it's not portable across Cloud Run if I understand correctly, e.g. Java application will be instrumented with OpenTelemetry Jav

[2020-12-21 03:55] Kun17 commented on #122
I am experiencing the same issue here. And go get github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/metric@d8551be9a708acfb92cccad81e488e9a96434a9a does not work

[2020-12-28 18:11] yuriatgoogle commented on #95
I was able to get the exporter to work running locally (on MacOS) with the following:

[code]

[2021-01-01 02:48] vsekhar opened #127 "InvalidArgument: Points must be written in order."
After starting two local instances of my server and letting them run for about a minute, I get the following error about every minute:

[code]

Based on some earlier [comments](https://github.com/census-instrumentation/opencensus-node/issues/694#issuecomment-563896578), I tried ensuring I am setting the host and service names without success.

[code]

 I also tried setting the `OC_RESOURCE_LABEL=h

[2021-01-05 20:28] IsaacPD opened #128 "Add unique identifier option to upload metrics within write_interval"
The python library for exporting to cloud monitoring contains a parameter for the metrics exporter that allows adding a unique identifier for the event where "there exist two (or more) exporters that may export to the same metric name within WRITE_INTERVAL seconds of each other." as described [in this documentation](https://google-cloud-opentelemetry.readthedocs.io/en/latest/cloud_monitoring/cloud

[2021-01-13 15:08] dashpole commented on #122
I cut the v0.15.0 release for go, so this should be fixed.

[2021-01-13 15:08] #122 closed

[2021-01-15 19:55] ylil93 opened #130 "Invalid start time on a time series data point"
I wrote the following script to prototype writing and exporting metrics with OpenTelemetry Go. However, I get errors complaining about an invalid start time every time I try to run:

[code]

[code]

As per my offline conversation with Nail, this seems to be a result of the start and end time being equal, I guess as a result of being registered at the same time. There's a provision in the [Java lib

[2021-01-19 21:49] bogdandrutu opened #131 "Upgrade and release a new version for otel 0.16.0"

[2021-01-20 18:28] xmlking opened #132 "moved: go.opentelemetry.io/otel/sdk/metric/controller/push"
whiled testing with `go.opentelemetry.io/otel v0.16.0`, I am getting this error.
may be we need to upgrade deps in this module
[code]

[2021-01-21 20:01] RyanBalfanz opened #133 "Install the OpenTelemetry package fails with `undefined: "go.opentelemetry.io/otel/sdk/export/trace".SpanData`"
From Using OpenTelemetry with Go docs, [Install the OpenTelemetry package:](https://cloud.google.com/trace/docs/setup/go-ot#install-client)

[code]

[code]

[2021-01-22 16:47] dashpole commented on #133
Duplicate of https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/131.  You can pin otel to v0.15.0 in the meantime to work around this.

[2021-01-22 16:47] #133 closed

[2021-01-22 16:48] dashpole commented on #132
Duplicate of https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/131.  You can pin otel to v0.15.0 in the meantime to work around this.  You can follow that issue to track the release.

[2021-01-22 16:48] #132 closed

[2021-01-22 21:18] RyanBalfanz commented on #133
Thanks, @dashpole. I'll have a look there.

[2021-01-22 21:18] RyanBalfanz commented on #133
Thanks, @dashpole. I'll have a look there.

[2021-01-22 21:19] RyanBalfanz commented on #133
By the way, I looks at #131 just now and it's not super clear to me that it's a duplicate of this issue since there's not much information on the issue.

[2021-01-26 03:45] punya commented on #26
@jsuereth I know you were thinking about whether the operations repos should create MetricDescriptors at all, or just let the backend infer them. Could you weigh in here?

[2021-01-28 18:14] punya commented on #95
Fixed by #96 and #97.

[2021-01-28 18:14] #95 closed

[2021-01-28 18:55] #130 closed

[2021-01-28 21:16] punya commented on #127
Is `nodeName` the same between the two local instances of your server?

[2021-01-28 22:41] vsekhar commented on #127
It is different. Each instance randomly generates a name suffix.

[2021-01-29 23:28] bogdandrutu commented on #131
@dashpole or @punya can you do a release?

[2021-01-29 23:31] punya commented on #131
@bogdandrutu yes, we're on it.

[2021-02-01 15:33] punya commented on #110
Related to #116.

[2021-02-01 15:41] punya commented on #82
@james-bebbington it looks like the `g.co/agent` attribute is already being populated in the way that you describe: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/227b0dcdc39db4cfc82225b0078a9533aa8cc25a/exporter/trace/trace_proto.go#L62

and `g.co/component` isn't fully specified (potentially obsolete?). Can we close out this issue?

[2021-02-01 20:22] punya commented on #131
https://pkg.go.dev/github.com/GoogleCloudPlatform/opentelemetry-operations-go@v0.16.0

[2021-02-01 20:22] #131 closed

[2021-02-02 06:40] james-bebbington commented on #82
Yea I think the `/component` text was as typo here.

Yes this can be closed. It looks like https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/105 resolved this bug and I forgot to close it.

[2021-02-02 06:40] #82 closed

[2021-02-10 15:28] aabmass commented on #81
Added google cloud license check github app and config in #139

[2021-02-10 15:28] #81 closed

[2021-02-10 19:36] aabmass opened #143 "OpenTelemetry span status code does not map directly to google.rpc.Code"
Found a similar bug in JS and Python exporters (https://github.com/GoogleCloudPlatform/opentelemetry-operations-python/issues/105)

Currently the code's int value is copied into the span pb if it's not `Ok`:
https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/f9b9a4b9eab7cc3e9d30c5e8cc9c8e768d60116d/exporter/trace/trace_proto.go#L117-L119

This is fine when it's `Ok`, but the a

[2021-02-12 16:06] aabmass commented on #143
Actually on second look, this is not right for `Ok` either: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/f9b9a4b9eab7cc3e9d30c5e8cc9c8e768d60116d/exporter/trace/trace_proto.go#L120-L122

`codes.Ok` is 2 which is [`UNKNOWN = 2`](https://github.com/googleapis/googleapis/blob/e28aa8570dc86136fe677202c976f4ee00d77f61/google/rpc/code.proto#L50) error in the proto

[2021-03-01 17:59] #112 closed

[2021-03-02 15:12] jsuereth commented on #100
TL;DR: Our Exporter makes the assumption that it will be offloading all spans into batches and exporting as a group.

OpenTelemetry Exporters *are not allowed to do this by specification* (for some reason).   This means that users of `ForceFlush` could wind up in a state where some spans are not exported by the GCT exporter.

The only resolution here would be to "force flush" on every export call.

[2021-03-02 15:15] dashpole commented on #100
I think the collector should do batching using the exporter helper.  IIRC it doesn't belong in our exporter here.

[2021-03-02 15:57] jsuereth commented on #100
Sure, I'll look at the exporter-helper batching in the collector and if I can migrate to that quickly, I will.  However, I think the TL;DR: is that we'll have a long-term plan to remove the `bundler` from this exporter, but we may just call `Flush` for the next release to avoid churning the design.

[2021-03-02 16:23] punya commented on #100
@jsuereth given that the upstream OT-Go release is still ~2 weeks away, could we consider spending the time to actually remove the `bundler` now instead of deferring that work?

[2021-03-03 03:28] ymotongpoo commented on #100
At the timing of direct exporter implementation, the spec on batching wasn't fixed and I followed the design in OC exporter. I have no objection to remove `bundler`.

[2021-03-03 23:02] jsuereth commented on #26
Sorry for delay.  Yes I think longer term we should avoid sending metric descriptors.  In the short term, we need them for feature parity and to make sure OTel configuration DOES make it into GCM.

Regarding this issue I think the following is true:

- We should stick w/ synchronous MD send as the default.
- I think we would allow an implementation for MD sending that is parallel and a configurabl

[2021-03-05 17:47] #100 closed

[2021-03-05 19:06] alexvanboxel opened #151 "Span messages are prefixed with Span.<kind> (incorrect behaviour)"
I know this is done intentionally, but it makes the Stackdriver exporter qazi unusable. It is also **not** semantically correct as it does change the meaning.

Example: If using java auto instrumentation and I want to search for a SELECT statement, I don't expect to need to search for Span.Client-SELECT ...

This is the commit that introduced the change:
https://github.com/GoogleCloudPlatform/open

[2021-03-05 19:07] alexvanboxel commented on #151
If the change is to surface the kind in the UI, it would be better to change the UI and not the name of the span.

[2021-03-05 21:39] aabmass commented on #151
Related https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/109

[2021-03-05 21:40] aabmass commented on #151
@alexvanboxel we've decided to remove the whole `Span.<kind>.`, should be an easy fix

[2021-03-05 22:56] #143 closed

[2021-03-16 15:10] tbarker25 commented on #151
This should be fixed by #155

[2021-03-16 15:10] #151 closed

[2021-03-16 15:10] tbarker25 commented on #109
This should be fixed by #155

[2021-03-16 15:10] #109 closed

[2021-03-19 07:45] filip-ph-johansson opened #156 "Unable to set DefaultTraceAttributes of the trace exporter"
Reviewing the code in [github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/trace@v0.18.0/cloudtrace.go](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/trace/cloudtrace.go) there's no constructor Option for setting the
[DefaultTraceAttributes](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/trace/cloudtrace

[2021-03-19 13:55] punya commented on #156
The constructor options were created in https://github.com/open-telemetry/opentelemetry-go/pull/160/commits/07c9f9ec68f47bc20930eb5e1a0e40d66c0020c9. It looks like `DefaultTraceAttributes` was left out by mistake (@ymotongpoo can confirm).

@filip-ph-johansson, would you be interested in contributing a construction option to make `DefaultTraceAttributes` configurable?

[2021-03-19 14:48] filip-ph-johansson commented on #156
Ok, thanks for your feedback.
Sure, it should be a quick fix.

[2021-03-19 16:30] jsuereth commented on #156
Two additions to this:

1. Are the trace attributes being added specific to just the Stackdriver exporter or are they more associated with the resource?  I'd encourage you to use: OTEL_RESOURCE_ATTRIBUTES env variable (or similar config) for this: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#general-sdk-configuration.
2. As an F

[2021-03-19 17:04] punya commented on #156
Note that handling of OTEL_RESOURCE_ATTRIBUTES is not fully spec-compliant at the moment: https://github.com/open-telemetry/opentelemetry-go/issues/1689.

[2021-03-19 17:22] jsuereth commented on #156
Yeah, I think we need to provide it here as an interim solution.   Ideally we can push this use case upstream over time though.

[2021-03-22 08:52] filip-ph-johansson commented on #156
@punya Is there a reason to why the [internal attributes are built](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/trace/cloudtrace.go#L244) on each export? Since the default attributes are only set during the creation of the exporter we might as well build them at that time.

[2021-03-22 14:57] punya commented on #156
@filip-ph-johansson I believe that's a holdover from an older design where DefaultTraceAttributes were mutable. Feel free to build them at creation time in your PR, if you prefer.

[2021-03-22 20:07] bogdandrutu opened #157 "Upgrade otel to 0.19.0 and do a new release"

[2021-03-23 14:20] #157 closed

[2021-03-25 12:31] punya commented on #23
I decided to document usage of multiple providers in a Go-style example func, rather than the README. It'll ensure the code keep compiling (samples in markdown files inevitably get outdated).

[2021-03-25 13:42] #23 closed

[2021-03-25 13:45] #156 closed

[2021-03-25 18:20] punya commented on #157
Updated examples used in GCP docs: https://github.com/GoogleCloudPlatform/golang-samples/pull/2023/files.

[2021-03-26 10:15] eddiectc opened #165 "Should add in release note in v0.16.0 the migration plan to use BatchSpanProcessor"
When upgrading to v0.16.0+, we noticed ~500ms latency added to all service handing calls, and it turns out the change on #149 making the default behavior changed as each tracing call is synchronized.

Believe we should indicate that in the release note so that people are aware when upgrading from earlier version, and have instruction to use the BatchSpanProcessor if old behavior is preferred.

[2021-04-14 10:54] punya commented on #110
Related to https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/pull/254 -- we should make sure we comply with the v2 spec.

[2021-04-19 14:07] punya commented on #165
Hi @eddiectc, sorry to hear this change caught you by surprise. This is already called out in the "breaking changes" section of the [v0.17.0 release notes](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/releases/tag/v0.17.0). Based on your feedback, I'll add a pointer to the BatchSpanProcessor to help users migrate.

[2021-04-19 14:10] #165 closed

[2021-04-22 16:10] geoah opened #166 "Using resource options produces "Request was missing field timeSeries" error in the logs"
Hey there,

It seems that adding resource options in the metrics exporter results in some not very informative error logs every time it tries to flush.

[code]

This can be easily replicated by the following service assuming it has access to GCP.
[code]

It will start logging the error mentioned above every 10 seconds.
First log takes a bit longer for some reason (up to 30 seconds).

Note: using `

[2021-04-22 16:34] punya commented on #166
@geoah thanks for the bug report. Let me try this out and get back to you shortly.

[2021-04-26 18:40] bogdandrutu opened #167 "Release new version that uses go.opentelemetry.io/otel v0.20.0"

[2021-04-27 15:24] punya commented on #167
Released https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/releases/tag/v0.20.0

[2021-04-27 15:24] #167 closed

[2021-05-06 08:35] geoah commented on #166
@punya if you have any ideas on what this might be related to and can point me to the right direction I could take a look as well. I just really can't pinpoint to why or where this is happening.

[2021-05-13 17:44] ryanlaycock commented on #166
Hey, interestingly I seem to be getting the same error:

`2021/05/13 18:38:57 rpc error: code = InvalidArgument desc = Request was missing field timeSeries.`

even when using the **basic options**:

[code]

It happens every 10 seconds in this configuration so presume it is every time it tries to export.

[2021-05-13 19:43] punya commented on #166
I dropped the ball on this for a few days, but I'm picking it up again shortly. Thanks for your patience!

[2021-05-18 07:44] soellman opened #170 "Would like an intuitive way to set a monitored resource type"
To set the monitored resource to a k8s cluster, I'm currently doing:

[code]
and then feeding `attrs` to a WithResource controller option.

Am I missing some mechanism to auto-detect these options?

[2021-05-18 07:47] soellman commented on #166
I was also seeing this before:
1. I set the monitored resource type (see #170)
2. I fixed my service account's IAM permissions

Once I did both of those things, I saw this only once or twice when a new timeseries was being created and then the message went away.

[2021-05-18 09:50] punya commented on #170
You can find the detectors at https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/detectors/gcp.

[2021-05-20 07:58] soellman commented on #170
Thanks, that is useful.

However, I think it'd still be nice to have a specific API to set a monitored resource (or default to what the detector may return).

Example: I am writing a process that will run in a k8s cluster, but would export metrics under the k8s_node or k8s_cluster resource types. If I use the detector, I'd still need to manually disable certain attributes in order to massage the t

[2021-05-24 23:57] ryanlaycock commented on #166
Hi @soellman, Are you able to share more of your setup code? I have set the attributes in the same way you have (as far as I can tell) but am still facing this issue.

Also what specifically do you mean by "I fixed my service account's IAM permissions" please?

[2021-05-25 13:43] ryanlaycock commented on #166
Hey @punya, I think I've found the issue. We seem to only get this error on collection when there is no new data to add.

Doing `Int64UpDownCounter.Add()` once or more per the interval in which the metric exporter sends to Cloud Monitoring doesn't generate the error message, but if we don't `.Add()` to a counter in the interval then it does error.

Presumably the collector doesn't have any timeSer

[2021-05-25 14:54] ryanlaycock commented on #166
I've ha da dig in the code and it looks like adding:
[code]
to this line [here](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/5a6256f818e7d8d7244ecf3a014de4e8419b2b44/exporter/metric/metric.go#L269) fixes this. Interested to hear what you think, I can open a PR if it would help?

[2021-05-25 16:04] punya commented on #166
@ryanlaycock that's a great find and your proposed solution also makes sense - thank you! Please do submit a PR.

[2021-05-25 16:52] #166 closed

[2021-06-13 17:47] amammay commented on #110
just so i can have some ease of re-use in some of my own projects i went ahead and created a package based off @glassonion1 implementation with just some slight tweaks to work with open telemetry v0.20.0

https://github.com/amammay/propagationgcp

[2021-06-21 20:36] Mistic92 commented on #167
Can you update readme too? I'm getting errors ```WithConfig not declared by package tracecompilerUndeclaredImportedName``` and ```Config not declared by package tracecompilerUndeclaredImportedName``` when trying to use example code.

[2021-06-24 12:34] ryanlaycock opened #174 "Potential memory leak in metric exporter"
We've recently added some `NewInt64UpDownCounter()`s to a service running in GKE. After about 36 hours the pods running this new code OOM crashed. The service typically uses ~150MiB consistently, but the version with this library in hit the limit of 500MiB within the 36 hours, and the rate of memory usage tended to correlate with the addition to the counters.

After digging I realised we have 2 co

[2021-06-28 19:18] 0xc0d opened #175 "Releasing new tag"
Since the latest otel-go version has been merged to the main branch. Is there anything that needs to be done before releasing a new tag?

[2021-06-30 15:55] aabmass opened #176 "Implement links in trace exporter"
https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/150c8dab3e9a7f336690514cfea6bf2f7b8c7826/exporter/trace/trace_proto.go#L181

[2021-07-02 13:59] icco commented on #175
@punya or others, do you know?

[2021-07-02 14:26] tbarker25 opened #179 "Go exporter is not setting the kind field on spans"
It appears that the kind field is currently ignored.

[code]

Expected behaviour:
span kind is sent to cloud-trace-service

Current behaviour:
span kind is not sent to cloud-trace-service.

[2021-07-02 17:02] jsuereth commented on #175
Yeah, we're working to finish some missing features in the Trace exporter (e.g. Links are not exported).  That combined with the full integration tests being delivered by #177 and then this should be ready to release.

[2021-07-07 11:58] jsuereth commented on #174
I'm not sure on the impact of `Counter` vs. `UpDownCounter` in the go library, that's a better question for http://github.com/opentelemetry/opentelemetry-go.

As far as the OOM though, that could be related to this project.   The metrics component is not considered "stable" yet.   Is there any other information you have from the crash you could send us to investigate this?

Thanks!

[2021-07-07 18:02] #176 closed

[2021-07-08 15:29] #179 closed

[2021-07-08 15:42] 0xc0d commented on #175
Since we managed to merge link and span kind features, Is there anything left now!? Shall release a new tag?

[2021-07-08 17:16] punya commented on #175
@0xc0d sorry this has taken a few days. We're still working on the integration tests (and some small bugs that they uncovered!). Do you have a specific need for a release? We might be able to tag an RC for you to depend on.

[2021-07-08 18:21] 0xc0d commented on #175
@punya,for now we are relying on commit hash tagging on our side. Is there anything I can pick? I guess I can check the e2e test PR.

[2021-07-09 23:00] bogdandrutu opened #181 "The new github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/trace will be impossible to be used in otel-collector"
Right now after the upgrade to 1.0.0-RC1 this library requires `sdktrace.ReadOnlySpan` to be passed to the exporter, which otel-collector will not be able to produce since `sdktrace.ReadOnlySpan` are private interface (has a private method).

This is very urgent since it blocks the otel-collector release see https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4146

[2021-07-10 23:40] 0xc0d commented on #181
It is already implement in main branch, contributers are still working on a few missing features and bugs before releasing a new tag.

[2021-07-12 13:59] punya commented on #181
@0xc0d IIUC, Bogdan filed this based on the unreleased code in the main branch, which will accept ReadOnlySnapshots instead of SpanSnapshot. The problem is that the GCP exporter in collector-contrib used to create new instances of SpanSnapshot, but it has no way to create new instances of ReadOnlySnapshot.

I have tried to resolve this by making our own notion of ReadOnlySnapshot which is a sub-in

[2021-07-12 16:51] punya commented on #181
Reopening because I missed some APIs that needed to be migrated/forked.

[2021-07-12 18:59] #181 closed

[2021-07-15 02:40] punya opened #185 "Handle split versions in release tooling and docs"
From now until the full API/SDK are stable, otel-go will release a mix of module versions (currently v0.21.0 and v1.0.0-RC1). We should improve our tooling to handle this properly, otherwise our releases will be more time-consuming and error-prone.

[2021-07-15 15:45] #175 closed

[2021-07-20 20:34] dashpole opened #188 "Remove trace exporter options that don't belong in the exporter"
The exporter should _only_ have options related to exporting, and should not include options related to modifying telemetry before it is sent.  Those should probably be done using a [SpanProcessor](https://github.com/open-telemetry/opentelemetry-go/blob/46d9687a3507b01c6b95620831c0cd9f819f0177/sdk/trace/span_processor.go#L26) instead of exporter options.

Options we should remove include:

* [With

[2021-07-20 20:40] dashpole opened #189 "Use opentelemetry-go's error handling for the trace exporter"
OpenTelemetry provides global error handlers.  As a user, I would prefer to be able to override the error handler once, and have all of my OpenTelemetry errors handled.  If I don't want to use globals, I would still prefer to instantiate a single error handler, and then pass it to all relevant OpenTelemetry components.

Changes needed:
* Instead of [logging errors by default](https://github.com/Go

[2021-07-20 20:53] dashpole opened #190 "Unexport public variables and functions prior to 1.0"
There are a few spots where we export things unneccessarily:
* A number of constants should use otel's semantic conventions, and should at least not be exported: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/trace/trace_proto.go#L48
* It is not possible to even set [Location](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/552dfa270c4

[2021-07-20 21:27] dashpole opened #193 "Refactor Creation Functions"
We should follow the pattern set by https://github.com/open-telemetry/opentelemetry-go/pull/1985 so we remain consistent with other exporters.

[2021-07-27 17:18] #188 closed

[2021-07-27 17:38] #193 closed

[2021-07-27 18:49] #189 closed

[2021-08-02 16:43] punya commented on #190
@dashpole can this be closed now?

[2021-08-02 17:02] #190 closed

[2021-08-02 17:02] dashpole commented on #190
Yes.  Closed

[2021-08-06 16:25] #185 closed

[2021-08-10 03:39] #110 closed

[2021-08-30 14:01] ronilichtman opened #206 "Add support for Cloud Monitoring Distributions in the metrics exporter"
The current implementation for `ValueRecorderInstrumentKind` is `lastvalue`. This prevents clients from having an effective way to chart latency metrics.

By populating the RPC request as described in https://cloud.google.com/monitoring/api/ref_v3/rest/v3/TypedValue#Distribution, it should be possible to implement these distribution metrics.

[2021-09-02 20:28] aabmass commented on #206
This last value behavior has been changed to histogram in the OTel metrics specification, but the Go SDK hasn't implemented it yet. This will probably take a while, but we will definitely send distribution metrics once it is ready.

[2021-09-09 15:49] punya commented on #174
@ryanlaycock just checking in - are you still experiencing the OOM? We're ver interested in figuring out if this library is related in any way, so please share any information you can from the crash.

[2021-09-09 16:09] ryanlaycock commented on #174
Apologies for not replying @punya @jsuereth, we finally got to the bottom of this issue and it wasn't related to this library - sorry for any concern! I'll close this now :)

[2021-09-09 16:09] #174 closed

[2021-09-23 13:31] eqinox76 opened #208 "opentelemetry-operations-go/exporter/trace rpc error: code = Unavailable"
Hey all,

our monitoring sometimes shows the following error message from the traces exporter:

[code]

We are using the following library versions:
[code]

I think the error is common among grpc systems when something is restarting or connections are lost. Maybe providing a retry option like [grpc_retry](https://github.com/grpc-ecosystem/go-grpc-middleware) would help to reduce data loss and the

[2021-09-28 17:07] JaimePata opened #209 "go get opentelemetry-operations-go/exporter/trace error"
Hi guys.
Trying to integrate a gcp exporter.
I'm trying to run go get -u github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/trace according to GCP oficial documentatation and i get the following error:

# github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/trace
../../go/pkg/mod/github.com/!google!cloud!platform/opentelemetry-operations-go/exporter/trace@v0.21.0/cl

[2021-09-29 18:39] mishas opened #210 "exporter/metric uses deprecated (and removed) testing method of go.opentelemetry.io/otel/sdk/metric"
Trying to use github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/metric together with the latest version of go.opentelemetry.io/otel/sdk/metric (v0.23.0) fails with the following error:

[code]

Tried with versions v0.20.1, v0.21.0, v0.22.0 and v1.0.0-RC1 (all fail with the same error)

[2021-10-18 10:45] ronilichtman opened #218 "Support non-string Attributes in the metrics exporter"
When sending a non-string Attribute (for example an Int Attribute) the exporter sends null/empty string to GCP.

See attached image.

Attributes added as follows:

[code]

![image](https://user-images.githubusercontent.com/12766460/137716640-7cacb073-498f-45b6-804e-af99c948fd00.png)

[2021-10-18 12:25] ronilichtman opened #219 "Add support for the k8s_service monitored resource"
See details on the `k8s_service` monitored resource here: https://cloud.google.com/monitoring/api/resources#tag_k8s_service.

[2021-10-19 15:16] #218 closed, assigned to dashpole

[2021-10-21 02:35] tyrone-anz opened #221 "`service.name` is truncated from the trace attributes?"
I noticed `service.name` and other attributes are mapped to different label `g.co/gae/app/module` before being exported to googlecloud.

Is it possible to keep a copy with `service.name` attribute as well?

Also for the other attributes listed below?

https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/44a596863f1ef0ccc374f086b2f2502de0f78fe5/exporter/trace/trace_proto.go#L234

[2021-10-29 14:50] dashpole opened #225 "Support CreateServiceTimeSeries"
Similarly to https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/pull/294, we should support CreateServiceTimeSeries for service metrics.  This needs to happen before the collector switches to use this repo.

[2021-10-31 18:41] nikklassen commented on #128
I ran into this problem with Cloud Run, which is designed to be restarted multiple times within 10 seconds with low QPS. Currently there does not appear to be any workaround to this (the library doesn't let me add my own labels to the resource).

[2021-11-02 02:34] nikklassen opened #227 "Detector's region does not match the metric API's region format"
I was trying to use the GCP detector from open-telemetry/opentelemetry-go-contrib and I started getting errors bac

[code]

When I dug into it I can see that the detector uses the metadata service, which returns the region in the format
`projects/<project ID>/regions/<region ID>` https://cloud.google.com/run/docs/reference/container-contract (which is a rather unusual format, but whatever)

Unsurp

[2021-11-08 16:38] aabmass commented on #128
@nikklassen there are some other issues around Cloud Run specifically, but the plan is:

- Short term, update our resource mapping to output [`generic_task`](https://cloud.google.com/monitoring/api/resources#tag_generic_task) monitored resource.
- Long term, allow custom metrics to be written against [`cloud_run_revision`](https://cloud.google.com/monitoring/api/resources#tag_cloud_run_revision) a

[2021-11-08 16:57] dashpole commented on #128
That makes sense to me.  I agree we should avoid the `use_unique_identifier` if it isn't the desired end-state.   Specifically, which resource attributes do we need to detect, and what is the appropriate mapping from semantic conventions to the cloud_run_revision resource?

[2021-11-08 17:52] nikklassen commented on #128
Correct me if I'm wrong, but it doesn't appear there's anything encoded about horizontal scaling in the `cloud_run_revision` resource, i.e. if we spin up 2 containers simultaneously in Cloud Run the `monitored_res` for each one would still look the same right?

I agree that the `use_unique_identifier` approach is pretty hacky. It also isn't perfect, in my use case I'm still getting errors shutting

[2021-11-08 18:42] aabmass commented on #128
Ah sorry you're right. I think generic_task's `task_id` label would work? Does knative/cloud run provide you with a good value for that label though?

[2021-12-01 19:04] aabmass commented on #219
It's not possible to write custom metrics against `k8s_service`, see here: https://cloud.google.com/monitoring/custom-metrics/creating-metrics#custom-metric-resources.

[2021-12-06 14:47] #219 closed

[2021-12-06 14:52] punya commented on #227
Thanks for flagging, this should be fixed. Would you have interest in contributing a fix?

[2021-12-07 23:18] bkrmalick commented on #128
Are there any plans of this being fixed? Struggling with the same issue where metrics exported from concurrent goroutines are throwing that `One or more TimeSeries could not be written: One or more points were written more frequently than the maximum sampling period configured` error

[2021-12-08 00:05] IsaacPD commented on #128
@bkrmalick If you are using custom metrics you can take the approach that I used which was just to implement something similar myself onto the label.  See https://github.com/GoogleContainerTools/skaffold/blob/main/pkg/skaffold/instrumentation/export.go#L166

[2021-12-12 22:10] icco opened #241 "Upgrade metrics otel packages"
The current latest packages of otel-go are

[code]

They don't work because of an API change in the metric API

[code]

[2022-01-04 19:08] dashpole commented on #227
Fixed by https://github.com/open-telemetry/opentelemetry-go-contrib/pull/1546

[2022-01-04 19:08] #227 closed

[2022-01-09 21:06] jba opened #268 "propagator not mentioned or used"
The `propagator` package correctly implements a necessary component in hooking user spans into GCP-generated traces. However, it is not mentioned in the README and not used in the examples. In fact, no code in the repo refers to it.

Please modify both the README and the example to use it.

[2022-01-09 21:39] jba commented on #268
On a related note, maybe the recommended sampler should be different. https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/example/trace/http/server/server.go#L45 mentions a ProbabilitySampler, but that doesn't actually exist (at least as of go.opentelemetry.io/otel/sdk/trace v1.3.0). It seems to be replaced by TraceIDRatioBased. But also, if you want your spans to be child

[2022-01-10 13:10] jsuereth commented on #225
Fixed by #259

[2022-01-10 13:10] #225 closed

[2022-01-10 13:23] jsuereth commented on #268
There's actually an issue we've been trying to decide on the right way to solve, which has lead to us not advertising this propagator.

Specifically, the "sampled" flag in X-Cloud-Trace-Context has different meaning from w3c trace context.

Specifically:

- [w3c trace context sampled flag means "mean have recorded trace data", and allows flexible downstream sampling](https://www.w3.org/TR/trace-co

[2022-01-10 20:57] #241 closed

[2022-01-11 14:43] ymotongpoo commented on #268
@punya sure!

So here are couple of topics mentioned above:

1. Refer XCTC in README (update README)
2. Mapping of traceSampled flag between XCTC and W3C.

For 1, I can take it with the warnings that XCTC's flag is not 100% compat with W3C. If the action include 2., I would like to have a consensus on how we should map the flags between headers.

[2022-01-13 13:17] jsuereth commented on #268
I'd suggest that the actual action item we should take (in the near term) is the following:

1. Document how to use XCTC propagator in the README with the following changes:
   - It will *only* attach to parent XCTC spans, but will not synthesize/send new XCTC for downstream requests (i.e. it reads, but doesn't write)
   - We're "ok" for the minor discrepency in the flag if we use the above scenar

[2022-01-25 09:28] soellman opened #289 "User-provided useragent is overridden in metrics exporter"
When a user creates a metrics pipeline with options `WithMonitoringClientOptions(WithUserAgent("useragent"))`, that intention is overridden by the package-specified useragent in `metric.newMetricExporter`.

[2022-01-25 23:43] aabmass opened #290 "[sdk exporter] Not sending TimeSeries.MetricKind when SkipCMD is true"
This problem only occurs when there is no existing metric descriptor and we are relying on the CreateTimeSeries auto-creation. If there is no existing metric descriptor in GCM, MetricKind defaults to `GAUGE`. See [docs](https://cloud.google.com/monitoring/api/ref_v3/rpc/google.monitoring.v3#google.monitoring.v3.TimeSeries.FIELDS.google.api.MetricDescriptor.MetricKind.google.monitoring.v3.TimeSerie

[2022-01-27 16:05] jba opened #291 "exporter/metric: multiple problems with example"
I'm trying to use the exporter/metric module at v1.0.0-RC1. I copied the program in the README into its own module and tried to run it. Repeated here for convenience:
[code]
Running `go get github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/metric@v1.0.0-RC1` succeeded.

Trying to then run the program, I was asked to `go get go.opentelemetry.io/otel/label`; that failed with
[code]

[2022-01-27 16:33] dashpole commented on #291
It looks like v1.0.0-RC1 of that module was tagged accidentally: At https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/tree/d9f756207d97f78454936537367ba569c420c28b, which should have been v0.22.0 instead

The most recently released version of exporter/metric is exporter/metric/v0.24.0, which is compatible with upstream otel's v0.24.0 metric release.

The modules are still experime

[2022-01-27 17:23] #290 closed

[2022-01-27 19:40] jba commented on #291
Do you mean at main? I was able to get that to work as far as modules are concerned.

The example in the README is still broken because it uses labels and calls the non-existent Provider method.

I tried

[2022-01-27 19:53] dashpole commented on #291
I mean:
[code]

[2022-02-10 22:13] #289 closed

[2022-02-16 20:17] nikklassen commented on #128
If I'm reading this correctly it looks like I should put a unique ID for the Cloud Run execution into `semconv.AttributeServiceInstanceID`. That should work for me.

[2022-02-18 14:30] odsod opened #326 "exporter/collector: support logs"
If the collector were able to forward logs to Cloud Logging, it would greatly improve the logging story in e.g. IoT environments where the `filelogreceiver` is used.

[2022-03-07 20:59] codeboten opened #329 "usage of deprecated `Type` func"
The collector/metric.go still uses the deprecated `Type` functions, see https://github.com/open-telemetry/opentelemetry-collector/blob/main/CHANGELOG.md#-deprecations- for deprecation notice. These have been removed in the version of the collector in [main](https://github.com/open-telemetry/opentelemetry-collector/blob/main/CHANGELOG.md#-breaking-changes-).

Observed while trying to update the col

[2022-03-07 21:02] dashpole commented on #329
I'm working on it :) https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/328

[2022-03-07 21:43] #329 closed

[2022-03-09 17:12] aabmass opened #330 "New pdata collector exporter does not sanitize metric labels when creating metric descriptors"
When trying it with the java autoinstrumentation agent, I am seeing errors during metric descriptor creation:

[code]

`sanitize()` should be called on the label keys.

[2022-03-10 00:30] #330 closed

[2022-03-10 18:20] dashpole opened #332 "Add span attributes for library name and version"
Based on our exporter spec, they should be added as `otel.instrumentation_library.name` and `otel.instrumentation_library.version`.   Although, I believe that plan should be altered by https://github.com/open-telemetry/opentelemetry-specification/pull/2276, which changed them to suggest `otel.scope.name` and `otel.scope.version`.

[2022-03-10 18:39] dashpole commented on #291
I believe this should be addressed through the retraction of incorrect releases.  Feed free to reopen if you still have issues

[2022-03-10 18:39] #291 closed

[2022-03-10 19:36] aabmass commented on #332
For the collector metrics exporter, we are doing `instrumentation_source` and `instrumentation_version` (for telemetry attribution). Should we do the same for traces?

[2022-03-10 19:40] dashpole commented on #332
This is the relevant OTel spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/non-otlp.md#instrumentationscope

[2022-03-10 20:08] dashpole commented on #332
Ah, I forgot, we should use `instrumentation_source` and `instrumentation_version` to match metrics.

[2022-03-28 02:40] danelowe opened #335 "Allow Unix epoch (1970) as default starttimestamp"
It appears as though the `opentelemetry-collector` might be adding `1970-01-01` as the default value for StartTimestamp on TimeSeries DataPoints.

https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/b068af9a94200ed9c49d58f16817ea6d3066e6e6/exporter/collector/metrics.go#L740

Here the code expects it to be `0001-01-01`, resulting in data not being sent to Google Cloud.

Also `op

[2022-03-30 19:24] muncus commented on #268
Is anyone actively working on this, and/or would you mind if I picked it up?

I'm happy to turn the existing `propagator` package into a one-way XCTC->traceparent. This would let OTel users have the same Trace ID as GCP, and make traces more valuable for interactions with GCP support.

Regarding the traceSampled flag discrepancy, I think a README paragraph offering the strategy @jsuereth mentioned

[2022-03-31 19:27] dashpole commented on #268
Thanks @muncus.  We can go ahead with the addition of the one-way propagator.  Let's make sure we don't break the current propagator package's public API, though.

As for documentation, we should:
1. Document the discrepancy between the two definitions of sampled in XCTC vs w3c
2. Recommend using the one-way over the two-way propagator, and make sure it is set first (?) in the composite propagator

[2022-04-08 18:19] #268 closed

[2022-04-11 02:10] ymotongpoo commented on #29
@dashpole could you confirm if this is still the case or not?

[2022-04-11 21:32] dashpole opened #352 "[collector metrics exporter] collisions with extra labels and metric labels"
Currently, with `service_resource_labels` enabled (which is enabled by default), it is possible to get duplicate labels on metrics if the service_name label is also set on the metric itself.  The same applies to any other labels added by the exporter.

As an example:
[code]

We should come up with a method for preventing those collisions.  Note that the root cause is that the opentelemetry-go's pr

[2022-04-15 15:47] dashpole commented on #26
Fixed by https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/247

[2022-04-15 15:47] #26 closed

[2022-04-20 08:03] ymotongpoo commented on #29
I confirmed that metrics attributes work perfectly in [this code](https://github.com/ymotongpoo/google-cloud-samples/blob/main/cloud-run-constant-metric/main.go#L111-L115), so when switching to `generic_task`, I think we need to have it move all labels that are not defined for the `monitored_resource` as well. WDYT?

[2022-04-20 13:49] dashpole commented on #29
Yeah, similar to the collector exporter's [resource_filters](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/collector/config.go#L95) option, it would be nice to be able to elevate additional resource attributes to metric labels.  I don't think we should do that for all additional labels, though, as detectors (e.g. for language or env, etc) often generate a ve

[2022-04-22 14:30] dashpole opened #364 "Support writing to multiple projects if project is set in resource"
A user has a use-case in which metrics are sent with a project ID set in metadata.  They don't know which projects they will need to send to ahead of time.  This would likely have implications for batching, as I don't believe metrics for multiple projects can be batched together.

[2022-04-25 13:45] dashpole opened #366 "Normalization of exponential histograms correctly handles scale changes"
Follow-up from https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/360#discussion_r856486521.

For normalization of exponential histograms:

1. If the "start" histogram scale is "lower resolution", then rescale the newest point to the start histogram scale and normalize.
2. If the "start" histogram scale is "higher resolution" then rescale the start point to the new resolution

[2022-04-25 17:36] dashpole opened #367 "Add timeout back into client settings"
Right now, the timeout is hard-coded to 12s.  There are use-cases in which we want to give the API longer to respond.  We may want to disallow timeouts shorter than 12s, since that can produce 503s.

This is an option that used to exist in the opencensus-based exporter.

[2022-04-26 15:24] #332 closed

[2022-05-02 20:29] dashpole opened #377 "Only attach instrumentation scope when it is non-empty"
Some receivers don't set instrumentation scope name/version, which produces telemetry with a bunch of empty labels.  It might be a better UX to omit it in that case, even if the exporter has instrumentation labels enabled.  The same point also goes for service labels.

[2022-05-03 14:31] dashpole commented on #367
Fixed by https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/369

[2022-05-03 14:31] #367 closed

[2022-05-03 14:59] aabmass commented on #377
This seems reasonable to me. For a given metric descriptor though, if any writer **ever** had instrumentation scope or service labels, they will appear in all time series for that descriptor. IIRC GCM will happily use an empty string if the labels are missing, but would be good to double check.

[2022-05-11 04:28] tyrone-anz opened #388 "Question: What is the expected export rate on trace exporter?"
I am looking into configuring my services with an appropriate sampling rate on traces.

I understand that the trace exporter is sending to BatchWriteSpans RPC. With a batch span processor (BSP), there is only one batch exported at a time. When there are too many spans being created, BSP will just drop some once its queue is full. As such, in order to avoid that scenario, I'd like to reduce the num

[2022-05-11 15:25] dashpole commented on #388
Reading through the limits for [the cloud trace API](https://cloud.google.com/trace/docs/quotas#trace-api-limit), there isn't a limit on the number of spans per BatchWriteSpans call.  Based on issues I can see, it looks like you can get deadline exceeded errors if you make the batch size too large, but the issues don't mention specific batch sizes.  I don't believe there is a fixed export rate beh

[2022-05-11 20:45] dashpole commented on #335
This was fixed in https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/336

[2022-05-11 20:45] #335 closed

[2022-05-11 20:46] dashpole commented on #326
The collector exporter now supports logs.  The entrypoint in this repo is https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/collector/logs.go#L125.

Thanks @damemi!

[2022-05-11 20:46] #326 closed

[2022-05-11 23:48] tyrone-anz commented on #388
@dashpole I observed the same where higher batch yields higher throughputs. For instance, with 512 batch sizes, throughput goes around 122 spans per second (API call takes 3-5 seconds). At 1024 batch size, about 166 spans per second.

The spans being created by my services contain a lot of attributes and sometimes have events so the throughput that I am getting may be lower due to the size of indi

[2022-05-23 14:00] dashpole commented on #88
We have this now: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/e2cce7b04a10906fca4fd38b95ba824a085d61e2/exporter/trace/trace_proto.go#L121

[2022-05-23 14:00] #88 closed

[2022-05-31 14:53] dashpole opened #405 "Concurrent map read and map write in collector exporter"
Two different occurrences:

First
![image](https://user-images.githubusercontent.com/3262098/171203397-6f7721ad-90f6-4080-9c03-14bf1e96435b.png)

Second
![image](https://user-images.githubusercontent.com/3262098/171203489-8292eec7-9d6b-42e2-92f0-fead59e16487.png)

[2022-06-01 21:01] #364 closed

[2022-06-03 19:43] dashpole opened #408 "Resource detection on GAE: zone was not in the expected format"
`detecting resources: [partial resource: [zone was not in the expected format: country-region-zone. Got us16]]`

[2022-06-06 12:49] dashpole opened #410 "Self-observability metrics should count individual points, rather than batches"
The [googlecloudmonitoring/point_count](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/1f22cbd7de2d7f06806d78899b6dc2aaf3d46a01/exporter/collector/observability.go#L29) self-observability metric assumes that all metrics sent in an unsuccessful batch are have a failed status.

The message returned usually contains the number of successful vs failed points: `desc = total_poi

[2022-06-06 14:25] #408 closed

[2022-06-06 16:00] dashpole opened #411 "Multi-project export uses quota from the credential's project."
If you have a service account from project A, and override to send telemetry to project B using `gcp.project.id`, it will use quota from project A.  This probably isn't what users expect.

There is an [option](https://github.com/googleapis/google-api-go-client/blob/2bdb4a9808454c2e43c015b99011a42d084aa02d/internal/settings.go#L53) when we Dial the grpc client called QuotaProject we could use to ov

[2022-06-08 07:36] RupakVeerla opened #414 "update to the latest open telemetry"
# github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/metric
..\..\..\go\pkg\mod\github.com\!google!cloud!platform\opentelemetry-operations-go\exporter\metric@v0.32.1\metric.go:496:11: r.Labels undefined (type *export.Record has no field or method Labels)

[2022-06-08 17:36] damemi opened #416 "Update lint checks in CI"
We currently have at least one [unused function](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/0c567ee/exporter/collector/observability.go#L47), [duplicated](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/0c567eed530ce47839387e7cb415813b712b0900/exporter/collector/logs.go#L28-L29) [imports](https://github.com/GoogleCloudPlatform/opentelemetry-oper

[2022-06-10 13:08] dashpole commented on #206
The spec-compliant go SDK is tracked in https://github.com/orgs/open-telemetry/projects/22.  Once that is done, we will update this exporter--including supporting distributions.

[2022-06-13 12:26] CatherineF-dev opened #420 "googlemanagedprometheus `Duplicate TimeSeries encountered`"
Thanks for the work!
 https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/tree/main/exporter/collector/googlemanagedprometheus.

Used googlemanagedprometheus exporter inside open-telemetry, and found error message
`written per TimeSeries per request.; Field timeSeries[190] had an invalid value: Duplicate TimeSeries encountered. Only one point can be written per TimeSeries per reques

[2022-06-13 12:27] CatherineF-dev commented on #420
/tag monitoring

[2022-06-13 12:28] CatherineF-dev commented on #420
cc @dashpole

[2022-06-13 12:58] damemi opened #421 "Fix expected diff check in integration tests"
The integration tests that check expected output against a local fake server can fail based on the order of the output from the server. See runs: [fail](https://app.circleci.com/pipelines/github/GoogleCloudPlatform/opentelemetry-operations-go/1387/workflows/a7049ae8-6a76-4a78-9baa-a842d951eaee/jobs/1382), [pass](https://app.circleci.com/pipelines/github/GoogleCloudPlatform/opentelemetry-operations

[2022-06-13 13:28] dashpole commented on #420
Just make sure for non-prometheus receivers, you set `service.name` and `service.instance.id` resource attributes.

[2022-06-13 14:04] CatherineF-dev commented on #420
Thanks!

- Metrics from prometheus receiver
Verified they are exported successfully
- Metrics from non-prometheus receiver
 Will try setting `service.name` and `service.instance.id`.

[2022-06-13 15:59] jsirianni opened #423 "Google Cloud Exporter removes attributes from OTLP log entries"
**Issue**

When using Logging exporter and Google exporter, I noticed that the Cloud Monitoring log entry did not contain attributes despite these attributes being present in the Logging exporter's output.

Logging exporter output:

[code]

Google Cloud Logging:

![Screenshot from 2022-06-10 15-56-33](https://user-images.githubusercontent.com/23043836/173367684-c0ef3cb1-8401-4c1d-bf21-791583d2a7b2

[2022-06-13 18:05] #423 closed

[2022-06-13 18:06] damemi commented on #423
Hi @jsirianni, I think https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/424 will fix your problem. We weren't parsing the rest of the attributes to labels, which we should have been.

[2022-06-13 20:22] #410 closed

[2022-06-14 13:39] jsirianni commented on #423
@damemi, will attributes be limited to `map[string]string`?

[2022-06-14 14:07] damemi commented on #423
@jsirianni the GCP labels are limited to `<string, string>`, so attributes will be converted to that as well. Object attributes should end up as a json-encoded string value in the labels map

[2022-06-14 14:11] jsirianni commented on #423
Thank you for jumping on this so quickly 👍

[2022-06-15 13:51] #405 closed

[2022-06-15 18:19] dashpole opened #431 "Use consumererror in the collector exporter to influence logging and retry"
Using [NewPermanent](https://github.com/open-telemetry/opentelemetry-collector/blob/v0.53.0/consumer/consumererror/permanent.go#L27) causes the [queued retry](https://github.com/open-telemetry/opentelemetry-collector/blob/772a3755f4e8e132e4a4068d2884ecb3ddbaa48f/exporter/exporterhelper/queued_retry.go#L182) exporterhelper to not retry the error.  Using this for 4xx errors would allow us not force

[2022-06-16 01:44] #206 closed

[2022-06-16 16:44] #414 closed

[2022-06-20 21:46] jsirianni opened #434 "OTEL Exporter maps Prometheus metrics to generic_task monitored resource"
### Problem

I am scraping Prometheus metrics (Aerospike exporter) using the Prometheus receiver. The google exporter is mapping these metrics to `generic_task` monitored resource type when I would expect it to map to `generic_node`.

This is because Prometheus exporter sets the following resource labels
- service.name (maps to generic_task's `job` field)
- service.instance.id (maps to generic_tas

[2022-06-21 07:48] kushal-ti opened #435 "Facing "panic: assignment to entry in nil map" when trying to export otlp logs to google cloud"
i have the following configuration for my otel collector
[code]
When I run the collector with just the loggin exporter in my logs pipeline, things work fine and i can see the logs in the otel stdout, but when i run it with googlecloud exporter, i get the following error

[code]

I'm facing this same error in local as well as production environments.

as far as i can tell this error only occurs whe

[2022-06-21 13:14] dashpole commented on #435
What version of the collector are you using?

cc @damemi

[2022-06-21 13:20] dashpole commented on #434
What platform (GCE (VMs), GKE, cloud run, etc.) are you running on?

I would highly encourage you to use the `gcp` resource detector.  It is designed to detect the resource attributes required to map to the correct monitored resource based on the platform.  Neither generic_node or generic_task are ideal.

[2022-06-21 13:32] damemi commented on #435
stack trace looks like its `0.53.0`, which I think is [pinned](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.53.0/exporter/googlecloudexporter/go.mod#L7) to v0.31.0 (`v0.30.2-0.20220512190557-875976f87023`)? That would point to this line that gets the log attribute: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/v0.30.1/exporter/collector/logs.g

[2022-06-21 13:32] jsirianni commented on #434
Outside of GCP. We are supporting customers who are migrating to GCP and have workloads running onpremis and in other clouds. The Google team has always instructed us to send to workload apis + generic_node.

[2022-06-21 13:40] dashpole commented on #434
Ah, I would recommend removing the service instance id attribute (with the resource processor) in that case.  It isn't as useful since it is a local target.

[2022-06-21 13:46] jsirianni commented on #434
It would be nice to keep it considering it is called out in the semantic conventions and expected by users using the Prometheus receiver. https://opentelemetry.io/docs/reference/specification/resource/semantic_conventions/#service.

Would it be possible to map to generic_node if `host.name` is set? It seems like the exporter could check for generic_node first, as `host.name` (node_id) is not used

[2022-06-21 13:58] dashpole commented on #434
When using the prometheus server to monitor non-local applications, i'd argue generic_task is the right monitored resource (since we don't know the host name of the application we are scraping).  But for local prometheus targets, you are right that generic_node is preferable.

If we changed the order, that would be breaking for users, so i'd like to avoid doing that if possible.  Another option fo

[2022-06-21 14:16] jsirianni commented on #434
In this case, service.instance.id is the hostname:port of the instance being scraped. In my example I am scraping local host but I could scrape one or many remote IP / hostnames.

Would it be appropriate to rename service.instance.id to host.name?

[2022-06-21 15:04] damemi commented on #435
Sorry I misread the log line, it's probably actually referring to [this line](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/v0.31.0/exporter/collector/logs.go#L288) where we assign a label in a map. Working on a test and fix

[2022-06-21 15:29] damemi commented on #435
@kushal-ti have you tried the [attributes processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/attributesprocessor)?

[2022-06-21 16:56] #435 closed

[2022-06-21 18:55] dashpole commented on #421
Still failing

[2022-06-22 05:45] kushal-ti commented on #435
@damemi i'm really sorry to keep bothering you regarding this, but based on this

I assumed that if i added an attribute to my logs manually, using the attribute processor, before passing it to the googlecloud exporter it would have worked, but it still fails with the same error

This is my modified config
[code]

And I can confirm that the attributes are being added to my logs, but it still doesn

[2022-06-22 05:47] kushal-ti commented on #435
oh wait, so it's not the attributes but the labels that is messing things up ? Is there any way i can set instrumentationSource and instrumentationVersion to be empty strings so that the if conditions causing the errors never get triggered ? @damemi

[2022-06-22 11:23] damemi commented on #435
Yeah I misread the stack trace at first and was looking at the wrong line. But the instrumentation source and version come directly from the [log scope](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/v0.31.0/exporter/collector/logs.go#L186-L187). I don't know if there's a way to directly modify those (since it's not just a label or attribute), maybe with the transform proc

[2022-06-23 04:38] kushal-ti opened #442 "Exporter does not recognize log levels or any extra attributes"
I'm using the open telemetry filelog receiver to collect logs (since using the otlp log receiver is failing in the current release due to the issue mentioned here https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/435.)
The output of the filelog receiver logs, after being passed through the processor in the otel collector, looks like this
[code]
However, this same log on the

[2022-06-23 12:08] damemi commented on #442
Thanks for reporting this @kushal-ti. We did test the exporter using the filelog receiver's [severity parser](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/stanza/docs/operators/severity_parser.md) (before the transform processor was available, which I see you are using). Maybe because of that, we worked with some assumptions about the severity that were specific

[2022-06-23 12:49] kushal-ti commented on #442
@damemi just an update, apparently just adding severity text isn't enough, you also need to add a severity number,
After i modified my otel config file to look like this, i could see the logs turning up in gcp console with the proper severity level

[code]

[2022-06-23 13:01] kushal-ti commented on #442
I assume this will be the case after the patch made in https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/424. Thanks, this makes things clearer.

I have just one question to ask, according to the patch reference above, all attributes will be inserted as string labels. Normally, when i'm logging directly to console and leaving it up to gcp agent to pick up the logs, fields whi

[2022-06-23 13:45] kushal-ti commented on #442
going through the source code i find [this line](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/ecd00a5caa0562f63c0b5a4905b298e2b1d60475/exporter/collector/logs.go#L432) which indicates there is a way to export the log body as a Map type (or a JSON type ?) Any idea how i can set this configuration, so that the type of body is Map instead of string ?

[2022-06-23 14:22] jsirianni opened #443 "Exporter time series errors do not include metric names"
When working with Google Exporter, if metrics do not have uniquely identifiable attributes + metric labels, the Google API will reject metrics for being duplicates. This is usually resolved by adding a uniquely identifiable attribute such as `host.name`.

It would be nice if time series errors returned the name of the metric(s) being rejected by the API, as sometimes a system will have hundreds of

[2022-06-23 14:46] jsirianni commented on #443
We see this frequently as well, which is caused by duplicate metrics when really it is just multiple systems sending identifcal metrics without adding uniquely identifiable resources such as a host.name.

[2022-06-23 20:30] kushal-ti commented on #442
A colleague made a pull request to adress this issue, here https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/444 but it wasn't accepted, the details seem to indicate that he wasn't allowed to run the e2e tests and other checks.

It's a relatively minor change (only 4 lines of code change and one additional test) and we have verified that building the contrib collector with th

[2022-06-23 21:04] damemi commented on #442
Thanks for the added information, and the PR to address the traceSampled field.

In order for us to accept that PR, your colleague will need to sign the CLA (more info and a link to the CLA is [available here](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/444/checks?check_run_id=7031314000), from the cla-bot's comment https://github.com/GoogleCloudPlatform/opentelemetry-o

[2022-06-24 04:52] davidgargti20 commented on #442
I have signed the CLA could you review and merge it now

[2022-06-28 20:37] Dylan-M commented on #443
Regarding that second one, and really all errors in general, it is extremely beneficial to know which metric is having the error. Especially in environments with hundreds of metrics.

[2022-06-29 17:07] damemi commented on #416
Gonna close this since we got lint checks working to verify the big issues. We can open another issue to track refactoring the CI into separate checks if there's still interest in that

[2022-06-29 17:07] #416 closed

[2022-06-29 18:59] damemi commented on #442
@kushal-ti sorry for the delayed response, but some updates on the other questions in this thread:

It looks like the severity parsing operator does some translation to automatically set the `SeverityNumber` if an equivalent `SeverityText` is parsed. I'm assuming that setting `SeverityText` directly with the transform processor doesn't do this (which is why you had to add the alias values yourself

[2022-06-30 14:32] jsirianni opened #447 "Collector Exporter: Support regex matching for metric resource_filters"
It would be nice if metric.resource_filters supported regex matching in addition to string prefix.

If I want to always copy all resource attributes, I need to define resource_filters like this:
[code]

It would be nice if I could accomplish the same thing using the filter `*` or have an option to skip matching entirely and just copy all resource attributes to metric labels.

This is a big frictio

[2022-07-01 15:02] #442 closed

[2022-07-04 03:45] davidgargti20 opened #448 "New Release Required"
The code changes in past few days include some breaking changes. Could we have a new release now.

[2022-07-05 17:30] davidgargti20 opened #449 "Google cloud Exporter stops sending logs when there is high memory usage in collector and never restarts."

[2022-07-06 15:29] damemi commented on #448
I'll start work on a new minor release

[2022-07-06 15:31] damemi commented on #449
Can you please share some more information? For example:
* memory usage you are seeing
* approx. ingestion/throughput
* collector config settings you've tried (such as batch/memory limiter)

[2022-07-06 18:23] davidgargti20 commented on #449
while using a batch processor when memory rises above 1 gb it stops
with batch memory_limiter if memory limiter is around 500mb it works but drops logs
but when batch memory_limiter is set to above 1gb it stops

[2022-07-07 14:41] damemi commented on #448
New release published at https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/releases/tag/v0.32.3
Will update deps in collector-contrib next

[2022-07-07 16:58] damemi commented on #449
@davidgargti20 could you share the actual config YAML for the collector? That would make it easier for me to understand your settings, and also see if you're doing other operations on the entries in your pipeline that might be causing this (you can remove any sensitive strings if you need to)

We've done some stress testing on this ourselves and found it to be able to comfortably process up to aro

[2022-07-07 17:09] davidgargti20 commented on #448
Thanks @damemi

[2022-07-07 18:33] davidgargti20 commented on #449
@damemi it could also be much better that shows that this limit is reaching or something that could be quite useful.
Also do tell me if there is certain way that could allow me to send logs on higher limit.

[2022-07-11 17:23] dashpole commented on #447
Just curious, does this work?
[code]

[2022-07-12 14:43] CatherineF-dev opened #453 "Resource mappings questions on googlecloud.OTLPDirect"
Want to migrate into OTLPDirect.

It needs two location labels `CloudAvailabilityZoneKey` and `CloudRegionKey`.
[code]
https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/internal/resourcemapping/resourcemapping.go#L63-L72

Before, it only has one location label `location`
[code]

Is it okay only assign `location` to `CloudAvailabilityZoneKey/cloud.availability_zone`? Or n

[2022-07-12 14:43] CatherineF-dev commented on #453
cc @dashpole

[2022-07-12 15:13] dashpole commented on #453
It needs _one_ of those two resource attributes.  If both are provided, CloudAvailabilityZoneKey takes precedence.

[2022-07-12 15:35] damemi commented on #449
@davidgargti20 this isn't a limit we're imposing, it's a technical limitation of the underlying libraries. We're still investigating potential high-cost operations that could be optimized, but due to that we don't have a good way to identify when this limit could be reached unfortunately.

[2022-07-12 18:51] cpheps opened #454 "Request: Expose gRPC Pool Size for configuration in NewGoogleCloudLogsExporter"
We've been benchmarking the OTel `googlecloudexporter` paired with the `filelogreceiver`, details of setup are listed below.

**Benchmarking Setup:**
- Generated Logs at 200K logs/s over 5 mintues (log lines were identical and 1KB in size)
- Wrote logs to a single file
- Used following Otel Config:
[code]

**Initial Results**:
With the above setup we observed the max log throughput to GCP to be ~1

[2022-07-12 19:26] jsirianni commented on #443
I am running into this again today. The issue is clearly in my configuration, but impossible to narrow down. The error I am getting exceeds 65k characters.

[2022-07-13 20:12] #454 closed

[2022-07-13 20:13] damemi commented on #454
Hi @cpheps, thanks for reporting this. I just merged https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/455, which adds this option for logs, traces, and metrics. It will be available in the next release. Thanks!

[2022-07-18 20:17] dashpole opened #456 "Collector exporter span throughput is lower than OTLP"
This is an issue reported by a customer.  May be related to https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/388.

Exporter configuration:

[code]

Using self-observability metrics, the otelhttp exporter shows ~600k spans/s, but the googlecloud exporter seems to stay at 2.6k spans/s.  The number of received spans matches the otelhttp exporter at ~600k spans/s.

[2022-07-19 14:58] dashpole commented on #434
Ideally, it would be set to <host IP>:<port> to be closer to what you would get from a prometheus server scraping it, but <host.name>:<port>, or <host.id> are also reasonable things to do.

[2022-07-22 14:54] damemi opened #458 "Add CI check for test fixture diffs"
https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/452 introduced a new diff when recording new fixtures:

[code]

We should add a CI check to make sure fixtures are updated before merging so irrelevant changes don't get added later

[2022-07-25 20:03] dashpole opened #459 "Change GMP config recommendations"
GMP recently changed how it allows monitored resource labels to be overridden.  Previously, if you set `project`, `location`, `cluster`, `namespace`, it would override the corresponding monitored resource label.  However, that can sometimes conflict with labels users have added to their metrics, which do not make sense for the monitored resource (e.g. `location=my-basement` isn't a valid zone or r

[2022-07-28 09:07] avarghese-sqsp opened #462 "Support for Console Exporter"
I have been following the example in the docs to setup OTEL for Stackdriver and it works as expected when running on GCP. But during local development, it is not possible to validate if the metrics are created as expected as there is no option to provide a console exporter even though OTEL has [support](https://opentelemetry.io/docs/instrumentation/go/getting-started/#creating-a-console-exporter).

[2022-07-28 12:26] dashpole commented on #462
Our exporters implement the interfaces defined by opentelemetry-go, which aren't currently designed to be environment-based.  Maybe you could add a flag or environment variable to switch to use the stdout exporter, and set the flag when you are developing locally?

[2022-07-28 13:38] avarghese-sqsp commented on #462
So you recommend I use the interfaces from OTEL in the code and then use this package for concrete implementations?

[2022-07-28 13:43] avarghese-sqsp commented on #462
Is `SpanExporter` the [interface](https://github.com/open-telemetry/opentelemetry-go/blob/main/sdk/trace/span_exporter.go#L21) you were referring to?

[2022-07-28 13:44] dashpole commented on #462
Yes, that is the correct interface.  It is implemented by both the stdout exporter and the gcp trace exporter.

[2022-07-28 13:47] avarghese-sqsp commented on #462
Perfect, I can use this interface in my code and then swap the exporter based on the environment. Thank you for the assistance!

[2022-07-28 13:47] #462 closed

[2022-08-01 12:04] damemi commented on #458
fixed by https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/460

[2022-08-01 12:04] #458 closed

[2022-08-01 17:51] dashpole commented on #456
We did some benchmarking with the logging exporter, which is probably relevant here.  The configuration that worked the best for them was using a batch processor, and setting the number of consumers and grpc pool size (new in the latest version of the collector):

[code]

Even with those optimizations, it isn't quite as high-throughput as the OTLP exporter.  We suspect this is because of the laten

[2022-08-02 01:51] dashpole commented on #456
With the standard settings:

[code]
I was able to get ~13k spans/second in a collector.

With this config, I was able to get ~130k spans/second:
[code]

With `grpc_pool_size: 20`, i'd expect to be able to do even better, but I think I need to wait for a collector release for that.

Hopefully that helps.

[2022-08-02 01:51] #456 closed

[2022-08-02 14:56] damemi commented on #449
Our teams did some more stress testing on this, and while we do eventually see some diminished throughput, we haven't been able to reach a point where the exporter completely shuts down. In fact, in isolated tests we've actually seen the exporter reach over 200MB/s of throughput.

Granted, these tests are done with basic logs (each line 1024 bytes in size). We did find that additional processors c

[2022-08-04 01:12] emmaCullen commented on #456
Hi @dashpole , thank you for the tips here, we tried it this morning and saw a huge improvement.

We are still seeing some dropped spans however, and was wondering if you had any suggestions?

**Dropped spans**:
<img width="1006" alt="image (11)" src="https://user-images.githubusercontent.com/61304599/182741683-d6057566-1fc0-4b9e-b0d3-eb74cb432009.png">

**Config used**:
[code]

**Sent span rate**

[2022-08-04 13:55] dashpole commented on #456
Just to explain the error message, it indicates the request failed multiple times in a row, with the most recent error being a deadline exceeded error.  The `dropped_items` just shows the number of spans that were in the request, which aren't sent.  If it is just happening occasionally, the best option is probably to raise the timeout on the exporter: `timeout: 30s`, since waiting for the "large"

[2022-08-05 14:25] #449 closed

[2022-08-08 03:34] emmaCullen commented on #456
Hi @dashpole, thank you for the reply and the explanation - we tried your suggestions and can confirm our issues have now been resolved !

Thanks again for the tips and taking a look, appreciate it :)

[2022-08-16 16:50] #421 closed

[2022-08-22 12:39] jsuereth commented on #434
I'd like to classify this issue as either bug/enhancement/wontfix etc.

From what I can tell on this discussion:

1. The behavior today was intentional.  In our view generic_task fits the description of a prometheus exporter
2. There's a desire to use generic_node of a particular node when scraping localhost metric exporters.  I believe this is a feature-request.

As such I'm going to mark this as

[2022-08-22 12:41] jsuereth commented on #443
Unfortunately, this long error is an issue with the Cloud Monitoring Metrics API.   The only way to solve it for this project would be to parse the error message and attempt to produce a better one.  Instead we'll escalate this against the Cloud Monitoring API itself.

[2022-08-24 19:59] dashpole opened #471 "Remove usage of archived cloudmock repository"
https://github.com/googleinterns/cloud-operations-api-mock will be archived soon.  Current usages:

* exporter/trace/cloudtrace_test.go
* exporter/metric/metric_test.go

[2022-08-30 19:21] dashpole commented on #420
Feel free to reopen if you are still having problems.

[2022-08-30 19:21] #420 closed

[2022-08-30 19:29] dashpole commented on #128
Closing based on https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/128#issuecomment-1042145981

[2022-08-30 19:29] #128 closed

[2022-08-30 19:35] dashpole commented on #127
Sorry for the slow response.  Which monitored resource is your metric being written to?

[2022-08-30 19:37] dashpole commented on #78
This is probably obsolete as we are rewriting the metrics exporter.

[2022-08-30 19:37] #78 closed

[2022-09-01 19:02] #471 closed

[2022-09-12 06:46] wopol opened #475 "failed to export to Google Cloud Trace: rpc error: code = DeadlineExceeded desc = context deadline exceeded"
I am getting this error every 1 or 2 hours. Is the default 5s timeout correct? Should we increase it? Or maybe is something wrong on my end?

I noticed that in other libraries another default Timeout is used: https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/master/stackdriver.go#L292

[2022-09-12 13:58] dashpole commented on #475
That does seem low.  Let me double-check.

[2022-09-12 18:22] dashpole commented on #475
Java seems to use 10s: https://github.com/GoogleCloudPlatform/opentelemetry-operations-java/blob/c27ed8fe2cde16b3bda6583fa9bc49dad8ca6446/exporters/trace/src/main/java/com/google/cloud/opentelemetry/trace/TraceConfiguration.java#L43.  We python and js clients don't appear to set a timeout.  We use 12s for the collector exporter.  12s seems like a better default to use

[2022-09-13 15:40] wopol commented on #475
I've increased timeout by myself manually but still, I am getting the same error. Definitely not so often but still

[2022-09-13 17:11] dashpole commented on #475
Thats interesting... You are welcome to increase it further.  You might also want to try decreasing the batch size in the batcher: https://github.com/open-telemetry/opentelemetry-go/blob/1f5b159161e0ff54df4677284fa7d6718dc9186d/sdk/trace/batch_span_processor.go#L43

[2022-09-15 16:00] Dylan-M commented on #443
Any progress on this? I encountered it again yesterday.

[2022-09-15 21:45] bogdandrutu opened #479 "Please review usages in non test code of the Slices (Buckets/Boundaries/Negative/Positive)"
Please take a look at the new APIs for primitive slices and provide us feedback, if with the current API you can avoid unnecessary allocations (keep in mind that every time you call `AsRaw` or `FromRaw` the slices are copied so you cause unnecessary allocations).

[2022-09-16 01:05] bogdandrutu opened #481 "Avoid using pointers to pdata structs, already reference structs"

[2022-09-16 13:13] dashpole commented on #479
Non-test usages of FromRaw/AsRaw to review:

* [exporter/collector/internal/normalization/standard_normalizer.go](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/collector/internal/normalization/standard_normalizer.go)
* [exporter/collector/logs.go](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/collector/logs.go)

[2022-09-16 13:45] dashpole commented on #479
I think the new APIs will work well for us.  They follow familiar patterns for pdata (EnsureCapacity, At(i), etc)

[2022-09-16 14:37] #481 closed

[2022-09-16 16:07] bogdandrutu commented on #479
One mistake that I see, and probably we need to fix. EnsureCapacity does not ensure the len as well. So this usage is incorrect:

[code]

I see some options to solve this, ideas are welcome.

[2022-09-16 16:11] dashpole commented on #479
Ah, OK

[2022-09-16 16:27] dashpole commented on #479
Append is good as an API.

[2022-09-16 16:35] bogdandrutu commented on #479
Ideas on how to design/document the API to tell people to avoid that are welcomed :D

[2022-09-16 16:58] dashpole commented on #479
I don't know if we should make a big deal out of this.  I would have caught it immediately if I was able to compile my code (`EnsureCapacity` doesn't exist yet in the version this repo is on).  I like the consistency with other slice functions in pdata.

(probably bad) ideas anyways:

* Make SetAt append empty items if `i` is outside len
* Add an AppendEmpty() to slices that doesn't return anythin

[2022-09-16 17:06] dashpole commented on #479
(but TBH I didn't read the function. comments when I wrote the code)

[2022-09-19 14:05] #479 closed

[2022-09-20 16:20] #475 closed

[2022-09-21 16:37] damemi opened #485 "Version update affects expected fixtures"
After updating the version in `release.go`, and running `make prepare-release`, the fixure-based unit test failed.  Then, I ran `make fixtures`, and committed the results.

_Originally posted by @dashpole in https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/464#issuecomment-1201335826_

[2022-09-29 20:01] codeboten opened #488 "Update OpenTelemetry collector dependency"
The following errors occur in the collector when removing methods deprecated in the v0.61.0 release:

[code]

[2022-09-30 14:02] dashpole opened #490 "Metrics example logs errors"
When running the metrics example, I get these log messages:

[code]

This is likely a regression from https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/487

[2022-09-30 16:10] #490 closed

[2022-10-04 19:13] dashpole opened #499 "SDK Metric exporter is not safe for concurrent use"
Currently, it isn't possible for MeterProviders to share Exporters.  See https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/metric/metric.go#L59

It should be possible to call Export, ForceFlush, and Shutdown concurrently.

[2022-10-06 15:14] dashpole opened #504 "Allow configuring the GMP prefix"
There are first-party use-cases in which we want GMP-style metrics outside of the prometheus.googleapis.com domain

[2022-10-06 15:42] dashpole opened #505 "CLA check isn't reporting"
https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/502 seems stuck

[2022-10-06 15:45] dashpole opened #506 "SDK Metric exporter should add service_instance_id and service_name labels"
This will match the behavior of the collector.  There should be an option to disable these extra labels.

The reason for adding them in the first place is to prevent collisions if the monitored resource doesn't uniquely identify the entity writing the metric.

[2022-10-07 15:24] dashpole commented on #505
It seems to have fixed itself in https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/503

[2022-10-10 16:59] Dylan-M opened #507 "Cloud Exporter Error Messages Do Not Include Metric Names"
Several (all?) metric errors from the exporter do not include metric names. This is related to issue #443 - in that this is a different error message about time series, but still does not include the name. It does include a reference to it, but it is not human readable, or any way to know what metric these entries map to.

`{"level":"error","ts":"2022-10-03T15:15:07.495-0400","caller":"exporterhel

[2022-10-10 18:18] #506 closed

[2022-10-10 19:59] dashpole commented on #443
Sorry, still no updates.  I'll check with the Cloud Monitoring API team again to see if they have any updates.

[2022-10-10 20:00] dashpole commented on #507
Thanks for reporting this.  This looks like the same issue, albeit with a different message.  Do you mind if I close this as a duplicate, or did you want help debugging the issue?

[2022-10-12 14:33] nhamlh opened #511 "GCE to also get hostname"
For our usecase, we're running on GKE and would love to also have hostname of GCE requested and populated to otel-collector. Currently, the HostName returns InstanceName instead of hostname:
https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/ca90414cd9c87f4babe529bdaf7241810d7336db/detectors/gcp/gce.go#L41-L44

I just wonder if there's any reason blocking adding it? If not, I

[2022-10-12 16:08] dashpole commented on #511
That seems reasonable to me.  Feel free to add it as GCEHostHostname or GCEHostname.  As a note, GCE attributes are not accessible on GKE if you are using workload identity (or autopilot, which uses workload identity).

[2022-10-13 03:04] nhamlh commented on #511
@dashpole as a side note, should we deprecate `GCEHostName` and use GCEInstanceName`? IMO, it'll avoid ambiguous; however this change will break downsteam project.

[2022-10-13 14:12] #507 closed

[2022-10-13 15:31] dashpole commented on #511
I just realized they changed the host name attributes recently: https://github.com/open-telemetry/opentelemetry-specification/pull/838.  It appears we can only have either the name of the host, or the hostname of the instance as a semantic convention.

I assume hostname and instance name are generally significantly different"

[2022-10-13 23:09] ktong opened #518 "Sum aggregation with CumulativeTemporality shows as delta in metric explorer"
The metric data `metricdata.Sum[N]{DataPoints: points, Temporality: metricdata.CumulativeTemporality}` is generated by opencensus bridge at https://github.com/open-telemetry/opentelemetry-go/blob/main/bridge/opencensus/internal/ocmetric/metric.go#L95. But it shows as delta metric so the value is stacked.
<img width="880" alt="Screen Shot 2022-10-13 at 4 09 52 PM" src="https://user-images.githubuse

[2022-10-14 05:07] nhamlh commented on #511
In this case I think they are not that much of the difference. Actually, exposing GCE hostname would leave users with a more flexible of choices: why GCE on GKE expose hostname instead of instance name, users can use `gcp` detector to get the hostname, or `system` detector to get instance name of hostname command.

In resourcedetection processor we can add a fallback from instance name to hostname

[2022-10-14 15:16] dashpole commented on #518
Hey @ktong, thanks for reporting the issue.

A few questions about your setup:

* What is the graph above showing?  Can you share the query you ran to get that graph?
* How is the OpenCensus metric being recorded (e.g. which package, or what instrument is being used to record it)?
* What version of opentelemetry-go and this repository are you using?
* Do you think this is an issue with this reposi

[2022-10-17 10:39] nhamlh commented on #511
The system detector doesn't use GCE metadata server, it picks the hostname locally if used with `hostname_sources: ["os"]` which is actually the `instance.name` metadata. So users can choose to use system detector or gcp detector's fqdn hostname for `host.name`, that's the flexible I mentioned before.

[2022-10-18 04:06] ktong commented on #518
Yes, it’s more likely caused by the issue.

[2022-10-18 16:09] ktong commented on #518
MQL
[code]

The View is defined at https://github.com/census-instrumentation/opencensus-go/blob/master/plugin/ocgrpc/server_metrics.go#L68

	go.opentelemetry.io/otel/metric v0.32.3
	go.opentelemetry.io/otel/sdk v1.11.0
	go.opentelemetry.io/otel/sdk/metric v0.32.3
	github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/metric v0.34.1

Not sure

[2022-10-18 18:28] dashpole opened #520 "Using propagators package pulls in 1.8.0 as latest version"
The latest version is v0.34.1.  We must've not retracted it correctly.  It might be best to put the propagator into its own module.

[2022-10-18 18:56] #520 closed

[2022-10-20 00:44] ktong commented on #518
The issue still exists while I upgrade go.opentelemetry.io/otel/sdk/metric to v0.33.0 which includes the fix of https://github.com/open-telemetry/opentelemetry-go/issues/3278.

[2022-10-21 16:38] ktong commented on #518
reported another issue in opentelemetry-go: https://github.com/open-telemetry/opentelemetry-go/issues/3388

[2022-10-26 18:24] aabmass commented on #485
Specifically the user agent string changes because the upstream OTel Go version has changed. Discussed in triage and we are thinking this is expected and we should just commit the changed fixtures in these cases. That way it serves as a changelog of expected changes too.

[2022-10-26 18:24] #485 closed

[2022-10-27 13:20] damemi commented on #7
I don't think this is relevant anymore based on the package versions

[2022-10-27 13:20] #7 closed

[2022-11-01 14:27] dashpole commented on #518
Since the fix was merged upstream, i'm going to go ahead and close this issue.  Feel free to reopen if you think there is more to be done.

[2022-11-01 14:27] #518 closed

[2022-11-01 14:30] dashpole opened #524 "Update and review enabled linters"
Upstream otel-go recently had to change the linters they enable: https://github.com/open-telemetry/opentelemetry-go-contrib/issues/2896

We should update golangci-lint, and probably make some of the same changes.

[2022-11-01 14:39] damemi commented on #524
I looked at some of our linters in https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/416
It looks like we aren't using any of the deprecated linters mentioned upstream https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/golangci.yml#L114-L123
Maybe there are others that have been deprecated if we are several versions behind

[2022-11-01 14:53] dashpole commented on #524
Should we enable more linters to match the set otel-go uses?

[2022-11-01 17:16] ridwanmsharif opened #525 "Histogram type metrics with only one `+inf` bucket fails to export"
For `prometheus` metrics, The `+Inf` bucket must always be present, and will match the value of the `_count`.
When using GMP and using OTel to send metrics there we encounter an interesting error. The following metric fails to get exported to GMP even though it is valid:
[code]

This is from a CockroachDB prometheus exporter. It fails with the following error:
[code]

I believe this situation can

[2022-11-01 17:32] dashpole commented on #525
We don't want to deviate from the behavior of prometheus-engine, so for now we should discard those metrics.

[2022-11-03 19:47] avijitsarkar123 opened #526 "googlemanagedprometheusexporter auth using metedataserver url"
We want to have metadata server based auth support for `googlemanagedprometheusexporter`, currently it only work with `application_default_credentials.json` through the `GOOGLE_APPLICATION_CREDENTIALS` but we want it to fallback to metedata server URL as below:

http://metadata.google.internal/computeMetadata/v1/instance/service-accounts/default/token

This pattern works for us in Cloud Monitoring

[2022-11-03 19:48] dashpole commented on #526
Marking as bug, since this should be how it works today.  Can you provide your googlemanagedprometheus exporter config?

[2022-11-03 19:53] avijitsarkar123 commented on #526
Here you go...
[code]

What will be the env var names for the below resource attributes?
[code]

Also this is how I am running the otel collector locally...

[code]

[2022-11-03 19:55] dashpole commented on #526
Does it work if you remove `project: ct-gcp-sre-monitorin-dev-09qb` (are the credentials from the same project as you are trying to send the metrics to?). It might help me figure out what is going wrong

[2022-11-03 19:58] avijitsarkar123 commented on #526
So I have access to multiple projects, I get the auth creds locally using below commands... and then volume mounting the creds file from `.config/gcloud/application_default_credentials.json` to the container...
[code]

[2022-11-03 20:00] avijitsarkar123 commented on #526
I removed the `GOOGLE_CLOUD_PROJECT=ct-gcp-sre-monitorin-dev-09qb`  env var and still same error...

[code]

[2022-11-03 20:00] dashpole commented on #526
Thanks

[2022-11-03 20:14] avijitsarkar123 commented on #526
@dashpole - If you can tell me the ENV vars (name of the vars) I have to set for the below ones, I can give it a try...
[code]

[2022-11-03 20:17] dashpole commented on #526
See https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/googlemanagedprometheusexporter#resource-attribute-handling

It is basically:

* cluster: k8s.cluster.name
* job: service.name
* location: cloud.availability_zone
* namespace: k8s.namespace.name
* instance: service.instance.id

If you are using the prometheus receiver, job + instance are already correctly set.

[2022-11-03 20:28] avijitsarkar123 commented on #526
okay.. so I tried this one to confirm and its working, I am able to see the metrics on GMP side using promql

[code]

[2022-11-03 20:32] dashpole commented on #526
Cool.  Its best to use one of the cloud-provider based resource detectors for setting `cloud.availability_zone` at least (e.g. `gcp`, `ec2`, etc.) from https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor#supported-detectors.

I'll look into the auth issue.

[2022-11-03 21:05] dashpole commented on #526
Based on https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/8c6aae170851bb7eb4bc64f348861e6692bf7fde/exporter/collector/traces.go#L55, it looks like we might just be using the credentials to set the project id, but might not be using the actual credentials.

[2022-11-03 21:08] dashpole commented on #526
I wonder if we should be passing those to the metric and trace clients via https://pkg.go.dev/google.golang.org/api/option#WithCredentials.  But they clearly are using ADC somehow already...

[2022-11-03 21:21] avijitsarkar123 commented on #526
Looking at this, it seems its already using `FindDefaultCredentials` that uses json file and also fallback to metadata server, I think this needs to be used by the clients...
https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/exporter/collector/traces.go#L57

[2022-11-03 23:14] dashpole commented on #526
Looks like we need to follow this: https://github.com/googleapis/google-cloud-go#authorization

[2022-11-04 12:22] liufuyang opened #528 "How to plot latency and request per second with opentelemetry's Histogram type? (Kind: Cumulative)"
As you may know, [this change](https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2700) been merged on the opentelemetry-go-contrib side recently to start reporting `rpc.server.duration` with meter created as

[code]

On our backend, we have a similar implementation. But when the data is exported to GoogleCloudMonitoring, we seem cannot find a good way to plot the latency graph.

The

[2022-11-04 13:04] damemi commented on #528
It looks like delta aggregation for int64 values isn't permitted for custom metrics https://cloud.google.com/monitoring/api/v3/kinds-and-types#kind-type-combos. @dashpole do you have any context on that?

[2022-11-04 13:06] dashpole commented on #528
I don't.

@liufuyang what options are available for `aggregation`?

[2022-11-04 14:22] liufuyang commented on #528
Do you mean what options do I see in the aggregator field?

![image](https://user-images.githubusercontent.com/161689/199998027-fea31e33-3a98-4560-8fcb-7a5fd207dd87.png)

[2022-11-04 15:43] liufuyang commented on #528
Hey there, sorry for the inconvenience, I think we fixed our issue by updating to the newest version https://github.com/einride/cloudrunner-go/pull/340

Thank you for the help and I will just close it down for now. We can reopen this if we still find other problems related to using opentelemetry exporter with Histogram metrics.

[2022-11-04 15:43] #528 closed

[2022-11-04 15:44] dashpole commented on #528
Ah, glad to hear that resolved things.

[2022-11-04 16:02] #526 closed

[2022-11-04 16:17] avijitsarkar123 commented on #526
@dashpole - thanks for taking care of it so fast. So is it going to be included in next version of `otel/opentelemetry-collector-contrib`? And do you how soon they gets released?

[2022-11-04 16:33] liufuyang commented on #528
Thanks. By the way, since you are on top this now, do you know how to use MQL to draw or derive the request rate from the CUMULATIVE duration Histogram data?

I know that in PromQL something like this could do:
[code]

But on the MQL side, I am not sure how to do it. Thank you :)

[2022-11-04 16:41] dashpole commented on #528
Try the `count` aggregator?

[2022-11-04 17:05] liufuyang commented on #528
Aha, nice thank you very much :D

[2022-11-04 17:14] liufuyang commented on #528
Hmmm... it seems not working with the UI tool to set aggregator ad count? 🤔

![image](https://user-images.githubusercontent.com/161689/200035337-97ac2f9f-5b2b-4a90-bbc3-0f6806ca05bd.png)

[2022-11-04 17:31] dashpole commented on #528
Based on https://cloud.google.com/monitoring/charts/charting-distribution-metrics, it seems like maybe `sum` is what you want (but I would've expected sum to be the total time taken by requests).  I may be mistaken

Alternatively, you can actually use promql to query these metrics if you want: https://cloud.google.com/stackdriver/docs/managed-prometheus/promql

[2022-11-04 17:36] dashpole commented on #528
(but sum also doesn't seem to do what I want either)

[2022-11-04 17:43] dashpole commented on #528
Actually, I think I found it.  [count_from](https://cloud.google.com/monitoring/mql/reference#count_from-func) seems to give the number of events in the distribution.

[code]

Runs for me

[2022-11-04 20:46] liufuyang commented on #528
Aha, thank you very much I did like that and it indeed works
[code]

It plots the same graph (right) comparing counted by our other customized metric `rpc_count` (left), which is request per minute
![image](https://user-images.githubusercontent.com/161689/200071532-6d6f1164-3a14-43ba-bd08-8eb851340e14.png)

[2022-11-13 03:30] tiffanny29631 opened #529 "Unable to send metric descriptor - request was missing field metricDescriptor.valueType"
The `googlecloud` exporter is continuously having trouble sending metric descriptor and complaining with lots of logs with following error:

[code]

I'm using [Open Telemetry Contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/v0.54.0/exporter/googlecloudexporter) 0.54.0, the exporter configuration is closer to default
[code]

The metrics are accepted by `opencensus` re

[2022-11-14 14:01] dashpole commented on #529
Looks like that happens if no data points are sent with a request: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/be0741488714937be40c696f720f4e45f1774788/exporter/collector/metrics.go#L1135

We should probably silence requests where we can't tell the data type.

[2022-11-14 15:15] #529 closed

[2022-11-16 19:54] psx95 commented on #30
Currently not our top priority since there are no reported bugs, but would be happy to review a PR to address this issue.

[2022-11-16 20:00] psx95 commented on #59
- A presubmit that reports the current test coverage for the unit tests (non-blocking on PRs).
 - Potentially add a codecov and configure it to add a comment on the PR.

[2022-11-18 15:49] damemi commented on #525
@dashpole were you still working on this? If not I can pick it up. I've seen this error cause a lot of oncall noise so it's good to know what's causing it

[2022-11-19 09:56] liufuyang commented on #528
@dashpole Sorry to bother you again, I think I need the last bit of help here so we could use those metrics nicely in production. The question I have is how to plot _the ratio between the two group's requests rate_?

As we know above by using `count_from` and `rate` we could view the requests rate, now we would very much like to plot the error ratio.

I've tried it like this:
[code]

But it gives

[2022-11-21 00:29] tiffanny29631 opened #534 "Custom resource labels a missing when createMonitoredResource"
We are trying to add some custom resource labels to have them converted with `resource_filter` into metric labels later. An example custom resource label looks like `configsync.sync.name`.

We've verified that with `resource_to_telemetry_conversion` config in Prometheus exporter these custom labels can be correctly converted so they do exist fine.

From the testing so far those labels seem to be m

[2022-11-21 13:35] damemi commented on #534
Hi @tiffanny29631, the attributes from `resource_filter` are parsed into extra labels during [this call](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/v0.34.0/exporter/collector/metrics.go#L178) to [resourceToMetricLabels](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/v0.34.0/exporter/collector/monitoredresource.go#L58).

So, any resource attribu

[2022-11-21 15:21] #525 closed

[2022-11-21 21:16] tiffanny29631 commented on #534
Below is our Otel Configuration for GCM and Prom

[code]

[2022-11-21 21:46] damemi commented on #534
Sorry, could you also share your resources using the file exporter?

[2022-11-21 22:24] dashpole commented on #528
@liufuyang I'm quite a bit out of my MQL depth, but I think you might want to do your `group_by `before you do your `filter_ratio`.  If all of your ratios are 10%, but you have 5 streams, sum(val()) will output 50%.  If you switch the order, you are summing the rates and errors (e.g. 10 req/ sec + 10 req/sec and 1 err / sec + 1 err /sec = 20 req / sec and 2 err / sec) first, and then computing a r

[2022-11-21 23:12] tiffanny29631 commented on #534
The labels are

[code]

For the first two ones they get recognized fine with the resource mapping.

[2022-11-22 03:22] tiffanny29631 commented on #534
Is there a good way to verify that the resource exists in [m.resourceMetrics](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/e2919fa511fb8f3b3e9c7f757aec428bf6217463/exporter/collector/metrics.go#L174) before / after the filtering?

[2022-11-22 15:00] damemi commented on #534
Yes, can you try using the [file exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/fileexporter) to write the raw metrics to a JSON file? It will include the resources which we can look at similarly to [this comment](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12175#issuecomment-1183842743)

[2022-11-22 16:56] liufuyang commented on #528
Aha, thank you so much @dashpole, by switching the group_by and filter_ratio_by indeed gives us correct-looking results 👍

Super appreciated your help on this 🙏

[2022-11-22 17:57] damemi commented on #208
It looks like the cloud trace client has [retry logic built in by default](https://github.com/googleapis/google-cloud-go/blob/trace/v1.2.0/trace/apiv2/trace_client.go#L62). I'm wondering if I followed that correctly, or if maybe something in the batch processor is dropping that retry handling?

[2022-11-22 18:06] dashpole commented on #208
Can we test it with our mock cloud trace implementation?

[2022-11-22 19:39] #447 closed

[2022-11-23 06:57] tiffanny29631 commented on #534
The image we have doesn't seem to contain shell access, I'm looking at extracting the file written by the file exporter.

[2022-11-27 13:31] apichick opened #536 "Metrics example not working"
I have tried the metrics example in this repository, metrics seemed to be sent. See below
[code]

However nothing is displayed in the dasboard in Cloud Monitoring.

Am I doing something wrong. Cloud Monitoring API is enabled.

[2022-11-27 18:55] #536 closed

[2022-11-28 14:06] dashpole commented on #536
@apichick were you able to resolve the issue?  Is there anything we can improve in the docs to have helped you?

[2022-11-28 14:59] damemi commented on #524
I'll open a PR to add them and see if they catch anything weird

[2022-11-30 19:27] aabmass commented on #366
@dashpole any idea if there is an upstream rescale method yet? Thinking to mark this issue "blocked" until that is available or we could add it upstream. @damemi expressed some interest in working on this.

[2022-11-30 19:28] aabmass commented on #411
@damemi taking a look

[2022-11-30 19:31] dashpole commented on #366
marking it blocked SGTM.